*.egg-info
*.mo
*.pyc
*~
.*project
.coverage
.installed.cfg
.mr.developer.cfg
.settings
.python-version
bin/
coverage/
develop-eggs/
downloads/
eggs/
htmlcov/
include/
lib/
local.cfg
Makefile
parts/
src/collective.cover/
var/
/dist/
src/brasil/gov/temas/themes/padrao/brasilgovtemas.js
src/brasil/gov/temas/themes/padrao/brasilgovtemas.js.map
src/brasil/gov/temas/themes/padrao/brasilgovtemas.css
src/brasil/gov/temas/themes/azul/brasilgovtemas.js
src/brasil/gov/temas/themes/azul/brasilgovtemas.js.map
src/brasil/gov/temas/themes/azul/brasilgovtemas.css
src/brasil/gov/temas/themes/verde/brasilgovtemas.js
src/brasil/gov/temas/themes/verde/brasilgovtemas.js.map
src/brasil/gov/temas/themes/verde/brasilgovtemas.css
