*.egg-info
*.mo
*.pyc
*~
.*project
.coverage
.installed.cfg
.mr.developer.cfg
.settings
.python-version
/dist/
bin/
coverage/
develop-eggs/
downloads/
eggs/
htmlcov/
include/
lib/
local.cfg
Makefile
parts/
src/brasil/gov/temas/themes/*/
src/collective.cover/
var/
