[buildout]
extends =
    https://raw.github.com/collective/buildout.plonetest/master/test-4.3.x.cfg
    https://raw.github.com/collective/buildout.plonetest/master/qa.cfg
    https://raw.githubusercontent.com/plonegovbr/portalpadrao.release/master/1.5.2/versions.cfg

package-name = brasil.gov.temas
package-extras = [test]
eggs +=
    plone.reload

parts +=
    coverage-sh
    createcoverage
    node
    omelette

[code-analysis]
recipe = plone.recipe.codeanalysis[recommended]
directory = ${buildout:directory}/src/brasil/gov/temas
clean-lines = False
csslint = True
csslint-bin = bin/csslint
flake8-ignore = E501,P001
jshint = True
jshint-bin = bin/jshint
multiprocessing = True
pre-commit-hook = True
return-status-codes = True

[omelette]
recipe = collective.recipe.omelette
eggs = ${test:eggs}

[versions]
# Necessário colocar o pacote com versão vazia para que outras versões no
# buildout-cache não sobrescrevam o próprio pacote.
brasil.gov.temas =

setuptools=42.0.2
zc.buildout=2.13.7
plone.recipe.zope2instance = 4.4.0
PyJWT = 1.6.4
ftw.upgrade = 3.0.0
path.py = 11.5.2
flake8-isort = 4.0.0
