@charset "UTF-8";
/********** Variaveis principais **********/
/********** Estilos Básicos do IDG **********/
/* grid cover */
@media (min-width: 600px) {
  .tile {
    margin: 15px; }

  .col-md-1,
  .col-md-2,
  .col-md-3,
  .col-md-4,
  .col-md-5,
  .col-md-6,
  .col-md-7,
  .col-md-8,
  .col-md-9,
  .col-md-10,
  .col-md-11,
  .col-md-12 {
    float: left; }

  .col-md-12 {
    width: 100%; }

  .col-md-11 {
    width: 91.66666667%; }

  .col-md-10 {
    width: 83.33333333%; }

  .col-md-9 {
    width: 75%; }

  .col-md-8 {
    width: 66.66666667%; }

  .col-md-7 {
    width: 58.33333333%; }

  .col-md-6 {
    width: 50%; }

  .col-md-5 {
    width: 41.66666667%; }

  .col-md-4 {
    width: 33.33333333%; }

  .col-md-3 {
    width: 25%; }

  .col-md-2 {
    width: 16.66666667%; }

  .col-md-1 {
    width: 8.33333333%; } }
/********** Main container **********/
#wrapper {
  width: 100%;
  margin: 0 auto;
  max-width: 100%; }

#main-content {
  flex: auto; }

#content {
  margin: 0 0.25em; }

#main {
  display: flex; }

#column-one {
  width: 300px;
  margin-right: 30px; }

#column-two {
  width: 300px;
  margin-left: 30px; }

.ct-width, #main, header#main-header .header-wrapper, header#main-header nav ul, #search, #portal-breadcrumbs, footer .footer-wrapper {
  width: 1060px;
  margin: 0 auto;
  max-width: 100%; }

.clear {
  clear: both; }

body {
  font-family: "Titillium Web", sans-serif;
  font-size: 18px;
  color: #282828;
  background: #fff;
  margin: 0; }

a:link, a:visited {
  color: #0094ff; }

#content a:link,
dl.portlet a:link {
  color: #0094ff;
  border-bottom: none; }

#content a:visited,
dl.portlet a:visited {
  color: #0094ff;
  border-bottom: none; }

#content a:hover,
dl.portlet a:hover {
  color: #0094ff !important; }

/* text styles */
#content-core p {
  font-size: 120%; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Titillium Web", sans-serif;
  font-weight: bold;
  color: #363636;
  letter-spacing: normal;
  line-height: normal;
  letter-spacing: normal;
  border: none; }

h1 {
  font-size: 48px;
  text-align: center;
  margin-top: 0;
  margin-bottom: .6em; }

h2 {
  font-size: 30px;
  margin-bottom: .3em; }

h3 {
  font-size: 22px;
  margin-bottom: .5em; }

h4 {
  font-size: 18px; }

p.section {
  color: #0094ff;
  font-size: 22px;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center; }

.documentDescription {
  color: #a6a6a6;
  text-align: center;
  font-size: 22px; }

.documentByLine {
  padding: 25px 0;
  margin: 40px 0;
  color: #a6a6a6;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  border-top: 1px solid rgba(0, 0, 0, 0.1); }

/********** Top **********/
header#main-header {
  color: #fff;
  background-color: #0094ff;
  /********** Navegacao **********/ }
  header#main-header a:link,
  header#main-header a:hover,
  header#main-header a:visited {
    text-decoration: none;
    color: #fff; }
  header#main-header .header-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 0;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2); }
  header#main-header nav {
    background-color: #fff;
    color: #000;
    border-bottom: 1px solid #f1f1f1;
    padding: 12px 0;
    display: none; }
    header#main-header nav ul:before {
      content: "\25B2";
      position: absolute;
      top: -50px;
      left: 15px;
      color: #fff;
      font-size: 36px; }
    header#main-header nav ul {
      position: relative; }
    header#main-header nav a:link,
    header#main-header nav a:hover,
    header#main-header nav a:visited {
      color: #000; }

/********** Icones **********/
.header-icons {
  width: 90px;
  border-right: 1px solid rgba(255, 255, 255, 0.2); }
  .header-icons .ico-navegacao {
    display: inline-block;
    width: 30px;
    height: 26px;
    margin-right: 10px;
    text-indent: -3000px;
    background: url(../../img/nav-branco.png) no-repeat; }
  .header-icons .ico-busca {
    display: inline-block;
    width: 26px;
    height: 26px;
    text-indent: -3000px;
    background: url(../../img/busca-branco.png) no-repeat; }

/********** Links do topo **********/
.header-links {
  width: 230px;
  text-align: right;
  text-transform: uppercase;
  font-size: 70%; }
  .header-links .link-contraste {
    background: url(../../img/contraste-branco.png) no-repeat left;
    padding: 0 20px 0 20px;
    border-right: 1px solid rgba(255, 255, 255, 0.2); }
  .header-links .link-vlibras {
    background: url(../../img/vlibras-branco.png) no-repeat left;
    padding: 0 0 0 20px;
    margin-left: 20px; }

/********** Logo **********/
#logo {
  flex-grow: 1;
  font-size: 28px;
  font-weight: normal;
  margin: 0 20px; }
  #logo h1 {
    display: inline;
    color: #fff;
    font-size: 28px;
    font-weight: bold; }
  #logo #portal-description {
    font-size: 16px; }

/********** Busca **********/
#search {
  text-align: center;
  padding: 140px 0;
  display: none; }
  #search h2 {
    color: #fff; }
  #search form {
    background: #fff;
    width: 50%;
    margin: 0 auto; }
  #search .searchField {
    border: none;
    width: 87%;
    padding: 15px 0;
    color: #ccc; }
  #search .searchButton {
    background: transparent url(../../img/botao-busca-preto.png) no-repeat right;
    border: none;
    text-indent: -3000px;
    width: 10%; }

/********** Breadcrumb **********/
#portal-breadcrumbs {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  padding: 15px 0;
  margin-bottom: 30px;
  font-size: 90%; }
  #portal-breadcrumbs #breadcrumbs-you-are-here {
    display: none; }
  #portal-breadcrumbs #breadcrumbs-home a {
    text-indent: -3000px;
    background: url(../../img/casinha.png) no-repeat left;
    display: inline-block;
    width: 20px; }
  #portal-breadcrumbs a,
  #portal-breadcrumbs a:hover {
    text-decoration: none;
    color: #282828; }
  #portal-breadcrumbs #breadcrumbs-current {
    font-weight: bold; }

/***** Footer *****/
footer {
  clear: both;
  color: #272727;
  background-color: #f1f1f1;
  padding: 90px 20px 300px 20px;
  font-size: 75%; }
  footer .footer-logo {
    padding-bottom: 20px; }
  footer a, footer a:hover {
    color: #272727 !important; }

.tile img {
  max-width: 100%;
  height: auto; }

/* Portrait tablet to landscape and desktop */
/* Landscape phone to portrait tablet */
@media (max-width: 767px) {
  #portal-breadcrumbs {
    display: none; }

  #portal-personaltools {
    display: none; }

  header#main-header > div {
    width: 100%;
    text-align: center;
    display: block; }

  #portal-searchbox {
    float: none;
    margin: 0 auto; }

  .player-video iframe {
    height: auto;
    width: 100%;
    max-width: 100%; }

  h1 {
    font-size: 28px; }

  .tile-4-colunas {
    display: block; }

  .tile-4-colunas .tile {
    width: 90%;
    text-align: left;
    padding: 5%; }

  .colunas-rodape {
    display: block; }

  .colunas-rodape > div {
    width: 100%;
    padding: 20px 0; }

  .colunas-rodape div.coluna-redes {
    border-left: none;
    padding: 0; }

  .faqsearch .faqsearch-input input {
    font-size: 8px; } }
/* Portrait tablet to landscape and desktop */
/* Landscape phone to portrait tablet */
/* Landscape phones and down */
/* Portrait tablet to landscape and desktop */
/* Landscape phone to portrait tablet */
@media (max-width: 767px) {
  body {
    background-image: none; }

  #wrapper {
    width: calc(100% - 40px); }

  #main {
    display: block;
    margin-top: 4em; }

  div.cell {
    left: 100%;
    float: none;
    width: 100% !important;
    margin-left: -100% !important; }

  #main-content,
  #column-one,
  #column-two {
    display: block;
    float: none;
    width: 100%; } }
/* Landscape phones and down */
@media (max-width: 480px) {
  div.cell {
    float: none;
    width: 100% !important;
    margin-left: -100% !important; } }

/*# sourceMappingURL=padrao.css.map */
