@charset 'UTF-8';

/* Globais */

$bg-color: #f8f8f8;
$main-font: 'Raleway', sans-serif;
$main-fontsize: 1rem;
$main-width: 100%;
$main-color: #2969bd;
$coluna-1: 300px;
$coluna-2: 300px;
$grid-gutter: 10px;
$content-width: 1150px;

/* Topo do site */

$top-color: #2969bd;
$top-text: #fff;
$top-link: #fff;
$top-icons: none;
$top-border-color: rgba(256, 256, 256, 0.2);
$top-busca-ativa: #fff;

/* Navegacao */

$nav-color: #fff;
$nav-link: #333;

/* Textos, titulos e links */

$txt-color: #282828;
$link-color: #0094ff;
$h-color: #333333;
$description-color: #a6a6a6;
$byline-color: #a6a6a6;

/* Tiles */

$tile-link: #333;
$tile-servicos: #1FC86A;
$tile-box-colorido: #3ab09e;
$tile-etiqueta: #06acff;
$tile-linha-destacada:#244a7c;

/* Rodape */

$footer-color: #f1f1f1;
$footer-text: #222222;
$footer-link: #222222;

/* variacao de cor do header */

$fale-conosco: #244a7c;
$fale-conosco-text: #fff;
$fale-conosco-link: #fff;
$fale-conosco-icons: none;
$fale-conosco-border-color: rgba(256, 256, 256, 0.2);

$noticias: #06acff;
$noticias-text: #fff;
$noticias-link: #fff;
$noticias-icons: none;
$noticias-border-color: rgba(256, 256, 256, 0.2);

$central-conteudo: #000;
$central-conteudo-text: #fff;
$central-conteudo-link: #fff;
$central-conteudo-icons: none;
$central-conteudo-border-color: rgba(256, 256, 256, 0.2);


/********** Estilos Básicos do IDG **********/

@import '../scss/fonts';
@import 'sprite';
@import '../scss/grid';
@import '../scss/basic';
@import '../scss/content';
@import '../scss/contentcentral';
@import '../scss/filterresults';
@import '../scss/header';
@import '../scss/albuns';
@import '../scss/tiles';
@import '../scss/portlets';
@import '../scss/search';
@import '../scss/footer';
@import '../scss/responsive';
@import '../scss/contrast';
