@charset 'UTF-8';

/********** Variaveis principais **********/

$bg-color: #fff;
$main-font: 'Raleway', sans-serif;
$main-fontsize: 1em;
$main-width: 100%;
$main-color: #0094ff;
$coluna-1: 300px;
$coluna-2: 300px;
$grid-gutter: 1rem;
$content-width: 1140px;

$top-color: #0094ff;
$top-text: #fff;
$top-link: #fff;

$nav-color: #fff;
$nav-link: #000;

$txt-color: #282828;
$link-color: #0094ff;
$header-color: #333333;
$description-color: #a6a6a6;
$byline-color: #a6a6a6;

$tile-link: #333;

$footer-color: #f1f1f1;
$footer-text: #272727;
$footer-link: #272727;


/********** Estilos Básicos do IDG **********/

@import '../scss/fonts';
@import 'sprite';
@import '../scss/grid';
@import '../scss/basic';
@import '../scss/content';
@import '../scss/header';
@import '../scss/tiles';
@import '../scss/portlets';
@import '../scss/footer';
@import '../scss/responsive';
