@charset 'UTF-8';

/********** Variaveis principais **********/

$bg-color: #fff;
$main-font: 'Raleway', sans-serif;
$main-fontsize: 1rem;
$main-width: 100%;
$main-color: #2969bd;
$coluna-1: 300px;
$coluna-2: 300px;
$grid-gutter: 10px;
$content-width: 1150px;

$top-color: #2969bd;
$top-text: #fff;
$top-link: #fff;

$nav-color: #fff;
$nav-link: #333;

$txt-color: #282828;
$link-color: #0094ff;
$header-color: #333333;
$description-color: #a6a6a6;
$byline-color: #a6a6a6;

$tile-link: #333;

$footer-color: #f1f1f1;
$footer-text: #222222;
$footer-link: #222222;


/* variacao de cor do header */
$fale-conosco: #244a7c;
$noticias: #06acff;
$central-conteudo: #000;


/********** Estilos Básicos do IDG **********/

@import '../scss/fonts';
@import 'sprite';
@import '../scss/grid';
@import '../scss/basic';
@import '../scss/content';
@import '../scss/header';
@import '../scss/albuns';
@import '../scss/tiles';
@import '../scss/portlets';
@import '../scss/search';
@import '../scss/footer';
@import '../scss/responsive';
@import '../scss/contrast';
