.ct-width {
  width: $content-width !important;
  margin: 0 auto;
  max-width: 100%;
}

img, iframe {
  max-width: 100%;
}

.clear {
  clear: both;
}

.ativo {
  display: block !important;
}

body {
  font-family: $main-font;
  font-size: $main-fontsize;
  color: $txt-color;
  background: $bg-color;
  margin: 0
}

a:link, a:visited {
    color: $link-color;
}

#content a:link,
dl.portlet a:link {
    color: $link-color;
    border-bottom: none;
}

#content a:visited,
dl.portlet a:visited {
    color: $link-color;
    border-bottom: none;
}
#content a:hover,
dl.portlet a:hover {
    color: $link-color !important; 
}

/* text styles */

#content {
  font-size: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $main-font;
  font-weight: bold;
  color: $header-color;
  letter-spacing: normal;
  line-height: normal;
  letter-spacing: normal;
  border: none;
}

.portaltype-collective-nitf-content article {
  padding: 0 90px;
}

div[property="rnews:articleBody"]::first-letter {
  color: $main-color !important;
  font-size: 5rem;
  display: block;
  font-weight: bold;
  float: left;
  line-height: 4rem;
  margin-right: 10px;
}

h1.documentFirstHeading {
  font-size: 44px;
  text-align: center;

  margin-top: 0;
  margin-bottom: .6em;
  
}

h2 {
  font-size: 30px; 

  margin-bottom: .3em;

}

h3 {
  font-size: 22px;

  margin-bottom: .5em;
}
h4 {
  font-size: 18px;
}

p.section {
  color: $link-color;
  font-size: 22px;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
}
#content .documentDescription, #content #description {
  color: $description-color;
  font: normal 1.25rem $main-font;
  text-align: center;
  margin-bottom: 2rem;
}

.documentByLine {
  padding: 25px 0;
  margin: 40px 0;
  color: $byline-color;
  font-family: $main-font !important;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}
#category {
  font-size: 100%;
  padding: 0 90px;
  text-align: left;

  a.link-category, a.link-category:hover {
    background: $main-color;
    border-color: $main-color;
    padding: 0.5em 0.8em;
    color: #fff;
    border-radius: 1.2em;
  }
}
#content .pullquote, .portletStaticText .pullquote {
  margin: 0 1em 0.5em -90px;
  float: left;
  width: 45%;
  clear: left;
  font-size: 1.5rem;
  letter-spacing: -0.08em !important;
  border-top: 3px solid $main-color;
  padding: 2rem 0;
}
dd.image-caption {
  text-align: center;
  padding: 0;
  margin: 0 !important;
}

/* estilos de texto */
.box-recuado {
  margin: 1rem -90px;
}

/* icones */
#portal-redes > li {
  display: inline-block;
  text-indent: -3000px;
}
#portalredes-twitter {
  @include sprite($rede-twitter);
}
#portalredes-youtube {
  @include sprite($rede-youtube);
}
#portalredes-facebook {
  @include sprite($rede-facebook);
}
#portal-redes > #portalredes-flickr {
  text-indent: 0;
}

.navigation-redes {
  #portalredes-twitter {
    @include sprite($rede-twitter-topo);
  }
  #portalredes-youtube {
    @include sprite($rede-youtube-topo);
  }
  #portalredes-facebook {
    @include sprite($rede-facebook-topo);
  }
}