.ct-width {
  width: $content-width !important;
  margin: 0 auto;
  max-width: 100%;
}

img, iframe {
  max-width: 100%;
}

.clear {
  clear: both;
}

.ativo {
  display: block !important;
}

body {
  font-family: $main-font;
  font-size: $main-fontsize;
  color: $txt-color;
  background: $bg-color;
  margin: 0
}

a:link, a:visited {
    color: $link-color;
}

#content a:link,
dl.portlet a:link {
    color: $link-color;
    border-bottom: none;
}

#content a:visited,
dl.portlet a:visited {
    color: $link-color;
    border-bottom: none;
}
#content a:hover,
dl.portlet a:hover {
    color: $link-color !important; 
}

/* text styles */

#content {
  font-size: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $main-font;
  font-weight: 900;
  color: $header-color;
  letter-spacing: normal;
  line-height: normal;
  letter-spacing: normal;
  border: none;
}

h2 {
  font-size: 30px; 

  margin-bottom: .3em;

}

h3 {
  font-size: 22px;

  margin-bottom: .5em;
}
h4 {
  font-size: 18px;
}

/* icones sociais */
#portal-redes > li {
  display: inline-block;
  text-indent: -3000px;
  cursor: pointer;
}

/* icones do topo */
#portalredes-twitter {
  @include sprite($rede-twitter-topo);
}
#portalredes-youtube {
  @include sprite($rede-youtube-topo);
}
#portalredes-flickr {
  @include sprite($rede-flickr-topo);
}
#portalredes-facebook {
  @include sprite($rede-facebook-topo);
}
#portalredes-googleplus {
  @include sprite($rede-googleplus-topo);
}
#portalredes-slideshare {
  @include sprite($rede-slideshare-topo);
}
#portalredes-soundcloud {
  @include sprite($rede-soundcloud-topo);
}
#portalredes-rss {
  @include sprite($rede-rss-topo);
}
#portalredes-instagram {
  @include sprite($rede-instagram-topo);
}
#portalredes-tumblr {
  @include sprite($rede-tumblr-topo);
}

/* Icones do Rodape */
footer {
  #portalredes-twitter {
    @include sprite($rede-twitter);
  }
  #portalredes-youtube {
    @include sprite($rede-youtube);
  }
  #portalredes-flickr {
    @include sprite($rede-flickr);
  }
  #portalredes-facebook {
    @include sprite($rede-facebook);
  }
  #portalredes-googleplus {
    @include sprite($rede-googleplus);
  }
  #portalredes-slideshare {
    @include sprite($rede-slideshare);
  }
  #portalredes-soundcloud {
    @include sprite($rede-soundcloud);
  }
  #portalredes-rss {
    @include sprite($rede-rss);
  }
  #portalredes-instagram {
    @include sprite($rede-instagram);
  }
  #portalredes-tumblr {
    @include sprite($rede-tumblr);
  }
}

// TODO: carregar isso do _intro.js
/* The Modal (background) */

#init-tour {
  color: black;
  width: 194px;
  height: 40px;
  border-radius: 30px;
  border: solid 2px #333333;
  background-color: white;
}

#init-tour.alternative {
  color: white;
  width: 194px;
  height: 40px;
  border-radius: 30px;
  border: solid 2px blue;
  background-color: blue;
}

.intro-modal {
  text-align: center;
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.intro-modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
  min-height: 500px;
  border-radius: 10px;
}

/* The Close Button */
.intro-close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.intro-close:hover,
.intro-close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.introjs-overlay {
  position: fixed !important;
  box-sizing: content-box !important;
  z-index: 999999 !important;
  background-color: #ffffff;
  opacity: 0.5 !important;
  background: -moz-radial-gradient(center,ellipse farthest-corner,rgba(0,0,0,0.4) 0,rgba(0,0,0,0.9) 100%) !important;
  background: -webkit-gradient(radial,center center,0px,center center,100%,color-stop(0%,rgba(0,0,0,0.4)),color-stop(100%,rgba(0,0,0,0.9))) !important;
  background: -webkit-radial-gradient(center,ellipse farthest-corner,rgba(0,0,0,0.4) 0,rgba(0,0,0,0.9) 100%) !important;
  background: -o-radial-gradient(center,ellipse farthest-corner,rgba(0,0,0,0.4) 0,rgba(0,0,0,0.9) 100%) !important;
  background: -ms-radial-gradient(center,ellipse farthest-corner,rgba(0,0,0,0.4) 0,rgba(0,0,0,0.9) 100%) !important;
  background: radial-gradient(center,ellipse farthest-corner,rgba(0,0,0,0.4) 0,rgba(0,0,0,0.9) 100%) !important;
  filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#66000000',endColorstr='#e6000000',GradientType=1)" !important;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)" !important;
  filter: alpha(opacity=50) !important;
  -webkit-transition: all 0.3s ease-out !important;
  -moz-transition: all 0.3s ease-out !important;
  -ms-transition: all 0.3s ease-out !important;
  -o-transition: all 0.3s ease-out !important;
  transition: all 0.3s ease-out !important;
}

.introjs-fixParent {
  z-index: auto !important !important;
  opacity: 1.0 !important !important;
  -webkit-transform: none !important !important;
  -moz-transform: none !important !important;
  -ms-transform: none !important !important;
  -o-transform: none !important !important;
  transform: none !important !important;
}

.introjs-showElement,
tr.introjs-showElement > td,
tr.introjs-showElement > th {
  z-index: 9999999 !important !important;
}

.introjs-disableInteraction {
  z-index: 99999999 !important !important;
  position: absolute !important;
  background-color: white !important;
  opacity: 0 !important;
  filter: alpha(opacity=0) !important;
}

.introjs-relativePosition,
tr.introjs-showElement > td,
tr.introjs-showElement > th {
  position: relative !important;
}

.introjs-helperLayer {
  box-sizing: content-box !important;
  position: absolute !important;
  z-index: 9999998 !important;
  // background-color: #000 !important;
  // background-color: rgba(255,255,255,.9) !important;
  border: 1px solid #777 !important;
  border: 1px solid rgba(0,0,0,.5) !important;
  border-radius: 4px !important;
  box-shadow: 0 2px 15px rgba(0,0,0,.4) !important;
  -webkit-transition: all 0.3s ease-out !important;
  -moz-transition: all 0.3s ease-out !important;
  -ms-transition: all 0.3s ease-out !important;
  -o-transition: all 0.3s ease-out !important;
  transition: all 0.3s ease-out !important;
}

.introjs-tooltipReferenceLayer {
  box-sizing: content-box !important;
  position: absolute !important;
  visibility: hidden !important;
  z-index: 100000000 !important;
  background-color: transparent !important;
  -webkit-transition: all 0.3s ease-out !important;
  -moz-transition: all 0.3s ease-out !important;
  -ms-transition: all 0.3s ease-out !important;
  -o-transition: all 0.3s ease-out !important;
  transition: all 0.3s ease-out !important;
}

.introjs-helperLayer *,
.introjs-helperLayer *:before,
.introjs-helperLayer *:after {
  -webkit-box-sizing: content-box !important;
  -moz-box-sizing: content-box !important;
  -ms-box-sizing: content-box !important;
  -o-box-sizing: content-box !important;
  box-sizing: content-box !important;
}

.introjs-helperNumberLayer {
  box-sizing: content-box !important;
  position: absolute !important;
  // visibility: visible !important;
  top: -16px !important;
  left: -16px !important;
  z-index: 9999999999 !important !important;
  padding: 2px !important;
  font-family: Arial, verdana, tahoma !important;
  font-size: 13px !important;
  font-weight: bold !important;
  color: white !important;
  text-align: center !important;
  text-shadow: 1px 1px 1px rgba(0,0,0,.3) !important;
  background: #ff3019 !important; /* Old browsers */
  background: -webkit-linear-gradient(top, #ff3019 0%, #cf0404 100%) !important; /* Chrome10+,Safari5.1+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ff3019), color-stop(100%, #cf0404)) !important; /* Chrome,Safari4+ */
  background:    -moz-linear-gradient(top, #ff3019 0%, #cf0404 100%) !important; /* FF3.6+ */
  background:     -ms-linear-gradient(top, #ff3019 0%, #cf0404 100%) !important; /* IE10+ */
  background:      -o-linear-gradient(top, #ff3019 0%, #cf0404 100%) !important; /* Opera 11.10+ */
  background:         linear-gradient(to bottom, #ff3019 0%, #cf0404 100%) !important;  /* W3C */
  width: 20px !important;
  height:20px !important;
  line-height: 20px !important;
  border: 3px solid white !important;
  border-radius: 50% !important;
  filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff3019', endColorstr='#cf0404', GradientType=0)" !important; /* IE6-9 */
  filter: "progid:DXImageTransform.Microsoft.Shadow(direction=135, strength=2, color=ff0000)" !important; /* IE10 text shadows */
  box-shadow: 0 2px 5px rgba(0,0,0,.4) !important;
}

.introjs-arrow {
  border: 5px solid transparent !important;
  content:'' !important;
  position: absolute !important;
}
.introjs-arrow.top {
  top: -10px !important;
  border-bottom-color:white !important;
}
.introjs-arrow.top-right {
  top: -10px !important;
  right: 10px !important;
  border-bottom-color:white !important;
}
.introjs-arrow.top-middle {
  top: -10px !important;
  left: 50% !important;
  margin-left: -5px !important;
  border-bottom-color:white !important;
}
.introjs-arrow.right {
  right: -10px !important;
  top: 10px !important;
  border-left-color:white !important;
}
.introjs-arrow.right-bottom {
  bottom:10px !important;
  right: -10px !important;
  border-left-color:white !important;
}
.introjs-arrow.bottom {
  bottom: -10px !important;
  border-top-color:white !important;
}
.introjs-arrow.bottom-right {
  bottom: -10px !important;
  right: 10px !important;
  border-top-color:white !important;
}
.introjs-arrow.bottom-middle {
  bottom: -10px !important;
  left: 50% !important;
  margin-left: -5px !important;
  border-top-color:white !important;
}
.introjs-arrow.left {
  left: -10px !important;
  top: 10px !important;
  border-right-color:white !important;
}
.introjs-arrow.left-bottom {
  left: -10px !important;
  bottom:10px !important;
  border-right-color:white !important;
}

.introjs-tooltip {
  box-sizing: content-box !important;
  position: absolute !important;
  visibility: visible !important;
  padding: 20px !important;
  background-color: white !important;
  min-width: 400px !important;
  max-width: 600px !important;
  border-radius: 5px !important;
  box-shadow: 0 1px 10px rgba(0,0,0,.4) !important;
  -webkit-transition: opacity 0.1s ease-out !important;
  -moz-transition: opacity 0.1s ease-out !important;
  -ms-transition: opacity 0.1s ease-out !important;
  -o-transition: opacity 0.1s ease-out !important;
  transition: opacity 0.1s ease-out !important;
}

.introjs-tooltipbuttons {
  text-align: right !important;
  white-space: nowrap !important;
}

/*
 Buttons style by http://nicolasgallagher.com/lab/css3-github-buttons/
 Changed by Afshin Mehrabani
*/
.introjs-button {
  box-sizing: content-box !important;
  position: relative !important;
  overflow: visible !important;
  display: inline-block !important;
  padding: 0.3em 0.8em !important;
  border: 1px solid #d4d4d4 !important;
  margin: 0 !important;
  text-decoration: none !important;
  text-shadow: 1px 1px 0 #fff !important;
  font: 11px/normal sans-serif !important;
  color: #333 !important;
  white-space: nowrap !important;
  cursor: pointer !important;
  outline: none !important;
  background-color: #ececec !important;
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#f4f4f4), to(#ececec)) !important;
  background-image: -moz-linear-gradient(#f4f4f4, #ececec) !important;
  background-image: -o-linear-gradient(#f4f4f4, #ececec) !important;
  background-image: linear-gradient(#f4f4f4, #ececec) !important;
  -webkit-background-clip: padding !important;
  -moz-background-clip: padding !important;
  -o-background-clip: padding-box !important;
  /*background-clip: padding-box !important;*/ /* commented out due to Opera 11.10 bug */
  -webkit-border-radius: 0.2em !important;
  -moz-border-radius: 0.2em !important;
  border-radius: 0.2em !important;
  /* IE hacks */
  zoom: 1 !important;
  *display: inline !important;
  margin-top: 10px !important;
}

.introjs-button:hover {
  border-color: #bcbcbc !important;
  text-decoration: none !important;
  box-shadow: 0px 1px 1px #e3e3e3 !important;
}

.introjs-button:focus,
.introjs-button:active {
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ececec), to(#f4f4f4)) !important;
  background-image: -moz-linear-gradient(#ececec, #f4f4f4) !important;
  background-image: -o-linear-gradient(#ececec, #f4f4f4) !important;
  background-image: linear-gradient(#ececec, #f4f4f4) !important;
}

/* overrides extra padding on button elements in Firefox */
.introjs-button::-moz-focus-inner {
  padding: 0 !important;
  border: 0 !important;
}

.introjs-skipbutton {
  box-sizing: content-box !important;
  margin-right: 5px !important;
  color: #7a7a7a !important;
}

.introjs-prevbutton {
  -webkit-border-radius: 0.2em 0 0 0.2em !important;
  -moz-border-radius: 0.2em 0 0 0.2em !important;
  border-radius: 0.2em 0 0 0.2em !important;
  border-right: none !important;
}

.introjs-prevbutton.introjs-fullbutton {
  border: 1px solid #d4d4d4 !important;
  -webkit-border-radius: 0.2em !important;
  -moz-border-radius: 0.2em !important;
  border-radius: 0.2em !important;
}

.introjs-nextbutton {
  -webkit-border-radius: 0 0.2em 0.2em 0 !important;
  -moz-border-radius: 0 0.2em 0.2em 0 !important;
  border-radius: 0 0.2em 0.2em 0 !important;
}

.introjs-nextbutton.introjs-fullbutton {
  -webkit-border-radius: 0.2em !important;
  -moz-border-radius: 0.2em !important;
  border-radius: 0.2em !important;
}

.introjs-disabled, .introjs-disabled:hover, .introjs-disabled:focus {
  color: #9a9a9a !important;
  border-color: #d4d4d4 !important;
  box-shadow: none !important;
  cursor: default !important;
  background-color: #f4f4f4 !important;
  background-image: none !important;
  text-decoration: none !important;
}

.introjs-hidden {
  display: none !important;
}

.introjs-bullets {
  text-align: center !important;
}
.introjs-bullets ul {
  box-sizing: content-box !important;
  clear: both !important;
  margin: 15px auto 0 !important;
  padding: 0 !important;
  display: inline-block !important;
}
.introjs-bullets ul li {
  box-sizing: content-box !important;
  list-style: none !important;
  float: left !important;
  margin: 0 2px !important;
}
.introjs-bullets ul li a {
  box-sizing: content-box !important;
  display: block !important;
  width: 6px !important;
  height: 6px !important;
  background: #ccc !important;
  border-radius: 10px !important;
  -moz-border-radius: 10px !important;
  -webkit-border-radius: 10px !important;
  text-decoration: none !important;
  cursor: pointer !important;
}
.introjs-bullets ul li a:hover {
  background: #999 !important;
}
.introjs-bullets ul li a.active {
  background: #999 !important;
}

.introjs-progress {
  box-sizing: content-box !important;
  overflow: hidden !important;
  height: 10px !important;
  margin: 10px 0 5px 0 !important;
  border-radius: 4px !important;
  background-color: #ecf0f1
}
.introjs-progressbar {
  box-sizing: content-box !important;
  float: left !important;
  width: 0% !important;
  height: 100% !important;
  font-size: 10px !important;
  line-height: 10px !important;
  text-align: center !important;
  background-color: #08c !important;
}

.introjsFloatingElement {
  position: absolute !important;
  height: 0 !important;
  width: 0 !important;
  left: 50% !important;
  top: 50% !important;
}

.introjs-fixedTooltip {
  position: fixed !important;
}

.introjs-hint {
  box-sizing: content-box !important;
  position: absolute !important;
  background: transparent !important;
  width: 20px !important;
  height: 15px !important;
  cursor: pointer !important;
}
.introjs-hint:focus {
  border: 0 !important;
  outline: 0 !important;
}
.introjs-hidehint {
  display: none !important;
}

.introjs-fixedhint {
  position: fixed !important;
}

.introjs-hint:hover > .introjs-hint-pulse {
  border: 5px solid rgba(60, 60, 60, 0.57) !important;
}

.introjs-hint-pulse {
  box-sizing: content-box !important;
  width: 10px !important;
  height: 10px !important;
  border: 5px solid rgba(60, 60, 60, 0.27) !important;
  -webkit-border-radius: 30px !important;
  -moz-border-radius: 30px !important;
  border-radius: 30px !important;
  background-color: rgba(136, 136, 136, 0.24) !important;
  z-index: 10 !important;
  position: absolute !important;
  -webkit-transition: all 0.2s ease-out !important;
  -moz-transition: all 0.2s ease-out !important;
  -ms-transition: all 0.2s ease-out !important;
  -o-transition: all 0.2s ease-out !important;
  transition: all 0.2s ease-out !important;
}
.introjs-hint-no-anim .introjs-hint-dot {
  -webkit-animation: none !important;
  -moz-animation: none !important;
  animation: none !important;
}
.introjs-hint-dot {
  box-sizing: content-box !important;
  border: 10px solid rgba(146, 146, 146, 0.36) !important;
  background: transparent !important;
  -webkit-border-radius: 60px !important;
  -moz-border-radius: 60px !important;
  border-radius: 60px !important;
  height: 50px !important;
  width: 50px !important;
  -webkit-animation: introjspulse 3s ease-out !important;
  -moz-animation: introjspulse 3s ease-out !important;
  animation: introjspulse 3s ease-out !important;
  -webkit-animation-iteration-count: infinite !important;
  -moz-animation-iteration-count: infinite !important;
  animation-iteration-count: infinite !important;
  position: absolute !important;
  top: -25px !important;
  left: -25px !important;
  z-index: 1 !important;
  opacity: 0 !important;
}

@-webkit-keyframes introjspulse {
  0% {
    -webkit-transform: scale(0) !important;
    opacity: 0.0 !important;
  }
  25% {
    -webkit-transform: scale(0) !important;
    opacity: 0.1 !important;
  }
  50% {
    -webkit-transform: scale(0.1) !important;
    opacity: 0.3 !important;
  }
  75% {
    -webkit-transform: scale(0.5) !important;
    opacity: 0.5 !important;
  }
  100% {
    -webkit-transform: scale(1) !important;
    opacity: 0.0 !important;
  }
}

@-moz-keyframes introjspulse {
  0% {
    -moz-transform: scale(0) !important;
    opacity: 0.0 !important;
  }
  25% {
    -moz-transform: scale(0) !important;
    opacity: 0.1 !important;
  }
  50% {
    -moz-transform: scale(0.1) !important;
    opacity: 0.3 !important;
  }
  75% {
    -moz-transform: scale(0.5) !important;
    opacity: 0.5 !important;
  }
  100% {
    -moz-transform: scale(1) !important;
    opacity: 0.0 !important;
  }
}

@keyframes introjspulse {
  0% {
    transform: scale(0) !important;
    opacity: 0.0 !important;
  }
  25% {
    transform: scale(0) !important;
    opacity: 0.1 !important;
  }
  50% {
    transform: scale(0.1) !important;
    opacity: 0.3 !important;
  }
  75% {
    transform: scale(0.5) !important;
    opacity: 0.5 !important;
  }
  100% {
    transform: scale(1) !important;
    opacity: 0.0 !important;
  }
}