.ct-width {
  width: $content-width !important;
  margin: 0 auto;
  max-width: 100%;
}

img, iframe {
  max-width: 100%;
}

.clear {
  clear: both;
}

.ativo {
  display: block !important;
}

body {
  font-family: $main-font;
  font-size: $main-fontsize;
  color: $txt-color;
  background: $bg-color;
  margin: 0
}

a:link, a:visited {
    color: $link-color;
}

#content a:link,
dl.portlet a:link {
    color: $link-color;
    border-bottom: none;
}

#content a:visited,
dl.portlet a:visited {
    color: $link-color;
    border-bottom: none;
}
#content a:hover,
dl.portlet a:hover {
    color: $link-color !important; 
}

/* text styles */

#content {
  font-size: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $main-font;
  font-weight: 900;
  color: $h-color;
  letter-spacing: normal;
  line-height: normal;
  letter-spacing: normal;
  border: none;
}

h2 {
  font-size: 30px; 

  margin-bottom: .3em;

}

h3 {
  font-size: 22px;

  margin-bottom: .5em;
}
h4 {
  font-size: 18px;
}

/* icones sociais */
.portal-redes > li {
  display: inline-block;
  cursor: pointer;
  a {
    text-indent: -3000px;
    display: inline-block;
    width: 34px;
    height: 33px;
  }
}

/* acessibilidade */
a:focus {
    outline: 2px solid #f1ca7f;
}
#skip-menu {
  width: 100%;
  position: absolute;
}
#skip-menu a {
  position: absolute;
  top: -200em;
  color: #fff;
}
#skip-menu a:focus {
  position: absolute;
  top: auto;
  left: 45%;
  margin-top: .5em;
  background: #244a7c;
  padding: 3px 6px;
  z-index: 10;
}

/* icones do topo */
.portalredes-twitter {
  @include sprite($rede-twitter-topo);
}
.portalredes-youtube {
  @include sprite($rede-youtube-topo);
}
.portalredes-flickr {
  @include sprite($rede-flickr-topo);
}
.portalredes-facebook {
  @include sprite($rede-facebook-topo);
}
.portalredes-googleplus {
  @include sprite($rede-googleplus-topo);
}
.portalredes-slideshare {
  @include sprite($rede-slideshare-topo);
}
.portalredes-soundcloud {
  @include sprite($rede-soundcloud-topo);
}
.portalredes-rss {
  @include sprite($rede-rss-topo);
}
.portalredes-instagram {
  @include sprite($rede-instagram-topo);
}
.portalredes-tumblr {
  @include sprite($rede-tumblr-topo);
}

/* Icones do Rodape */
footer {
  .portalredes-twitter {
    @include sprite($rede-twitter);
  }
  .portalredes-youtube {
    @include sprite($rede-youtube);
  }
  .portalredes-flickr {
    @include sprite($rede-flickr);
  }
  .portalredes-facebook {
    @include sprite($rede-facebook);
  }
  .portalredes-googleplus {
    @include sprite($rede-googleplus);
  }
  .portalredes-slideshare {
    @include sprite($rede-slideshare);
  }
  .portalredes-soundcloud {
    @include sprite($rede-soundcloud);
  }
  .portalredes-rss {
    @include sprite($rede-rss);
  }
  .portalredes-instagram {
    @include sprite($rede-instagram);
  }
  .portalredes-tumblr {
    @include sprite($rede-tumblr);
  }
}
