/* largura da area de texto de alguns tipos de conteúdo */
#edit-bar {
  max-width: $content-width;
  margin: 0 auto 1em auto;
}
body.template-edit #main,
body.template-image #main {
  width: $content-width !important;
  max-width: 100%;
}
dl.portalMessage, 
div.attention, 
div.caution, 
div.danger, 
div.error, 
div.hint, 
div.important, 
div.note, 
div.tip, 
div.warning {
    max-width: 1160px;
    margin: 1em auto;
}

.portaltype-document,
.portaltype-collective-nitf-content {
  #main {
    width: 100% !important;
  }
  h1.documentFirstHeading,
  #viewlet-below-content-title,
  .documentDescription,
  .documentByLine,
  #content-core #parent-fieldname-text p,
  #content-core #parent-fieldname-text h2,
  #content-core #parent-fieldname-text h3,
  #content-core #parent-fieldname-text ul,
  #content-core #parent-fieldname-text ol,
  #content-core #parent-fieldname-text dl,
  #content-core #parent-fieldname-text table {
    width: 960px;
    margin-left: auto;
    margin-right: auto;
  }
  .image-right {
    margin-right: -120px;
  }
  .image-left {
    margin-left: -120px;
  }
  .image-inline {
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    dd {
      max-width: 100%;
    }
    img {
      max-width: 100%;
      height: auto;
    }
  }
  .invisible-left {
    float: left;
    width: auto !important;
    margin-left: 10vh !important;
  }
  .invisible-right {
    float: right;
    width: auto !important;
    margin-right: 10vh !important;
  }
}

/* cor de fundo das capas */
body.portaltype-collective-cover-content {
  background-color: $bg-color;
}


/* ordem dos campos de conteudo */
#content, #viewlet-below-content-title, article {
    display: flex;
    flex-direction: column;
}
p.nitfSubtitle {order: -5;}
h1.documentFirstHeading {order: -5;}
#content .documentDescription, #content #description {order: -4;}


/* estilos dos campos de conteúdo */
#parent-fieldname-text::first-letter, 
div[property="rnews:articleBody"]::first-letter {
  color: $main-color !important;
  font-size: 5rem;
  display: block;
  font-weight: bold;
  float: left;
  line-height: 4rem;
  margin-right: 20px;
}

h1.documentFirstHeading {
  font-size: 3rem;
  text-align: center;

  margin-top: 0;
  margin-bottom: .6em;
  
}
p.section {
  display: none;
}

p.nitfSubtitle {
  color: $link-color;
  font-size: 1.25rem;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
}
#content .documentDescription, #content #description {
  color: $description-color;
  font: normal 1.125rem $main-font;
  text-align: center;
  margin: 0 auto 2rem auto;
}

.documentByLine {
  padding: 25px 0;
  margin: 0 0 2rem 0;
  color: $byline-color;
  font-family: $main-font !important;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  text-align: center;
}
#viewlet-social-like.vertical {
  float: left;
  position: absolute;
}
#media {
    width: $content-width;
    margin: 0 auto;
    text-align: center;
}

#content p {
  font-size: 1.125rem;
  line-height: 1.875rem;
}

#content .pullquote, .portletStaticText .pullquote {
  margin: .5em 1em 0.5em 10vw;
  float: left;
  width: 30%;
  clear: left;
  font-size: 1.5rem;
  letter-spacing: -0.08em !important;
  border-top: 3px solid $main-color;
  padding: 2rem 0;
}
dd.image-caption {
  text-align: center;
  padding: 0;
  margin: 0 !important;
}

/* imagem de pagina no topo */
.portaltype-document .linha-destaquetopo {
  position: absolute !important;
  top: 0;
  left: 0;
  right: 0;
  height: 680px;
  width: 100% !important;
  display: flex;
  flex-flow: column;
  padding-top: 300px;
  z-index: -1;

  img {
    height: 680px;
    width: 100%;
    object-fit: cover;
    position: absolute !important;
    top: 0;
    z-index: -2;
  }
  h1, h2, h3, p {
    width: $content-width !important;
    margin: 0 auto 1rem auto;
    color: #fff !important;
  }
  h1, h2, h3 {
    a {
      color: #fff !important;
    }
  }
}

.portaltype-document  #portal-breadcrumbs.inverter {
  margin-bottom: 500px !important;
}


/* estilos de texto */
.box-recuado {
  margin: 1rem -90px;
}

#viewlet-below-content {
  margin: 0 auto;
  padding: 20px 0;
  border-top: solid 0.5px #ccc;
  position: relative;
  width: $content-width;
}
.has-portlets #viewlet-below-content {
  width: 100% !important;
}
.portaltype-collective-nitf-content #viewlet-below-content {
  width: 960px;
}

#category {
  font-size: 100%;
  text-align: left;
  color: #fff;
  text-indent: -3000px;
  padding: 8px 0 20px;
  border: none;
  width: auto;

  span {
    text-indent: initial;
  }

  a.link-category, a.link-category:hover {
    background: #eee;
    padding: 8px 15px;
    color: #222;
    border-radius: 30px;
    text-transform: uppercase;
    display: inline-block;
    margin: 0 10px 10px 0;
    font-size: 0.75rem;
    font-weight: 600;
    float: left;
  }
}

.voltar-topo {
    width: 20%;
    float: right;
    text-align: right;
    margin-bottom: 20px;

    a {
      color: #222;
      text-transform: uppercase;
      font-size: .8rem;
      font-weight: 700;
      margin-top: 1rem;
      display: inline-block;
    }
}
.voltar-topo a:after {
  content: "\005e";
  background: #222;
  color: #fff;
  border-radius: 50%;
  padding: 11px 10px 8px 10px;
  display: block;
  float: right;
  width: 20px;
  height: 20px;
  text-align: center;
  font-size: 1.4em;
  margin: -10px 0 0 10px;
  font-weight: bold;
}

.texto-copyright {
  border-top: solid 0.5px #ccc;
  border-bottom: solid 0.5px #ccc;
  padding: 20px 0;
  clear: both;
}


/* embedder videos */
.top_embedded iframe {
    height: 90vh;
    width: 100%;
}

/* relacionados */

#relatedItemBox {
  @extend .ct-width;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-bottom: 90px;

  dt {
    width: 100%;
    text-align: center;
    font-size: 2.25rem;
    font-weight: 900;
    padding: 90px 0 50px 0;
  }
  dd {
    width: 31%;
  }
  p {
    color: $link-color;
    font-size: .875rem;
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 12px;
  }
  a, a:hover {
    font-size: 1.125rem;
    font-weight: bold;
    color: $h-color !important;
    line-height: 1.39;
  }
  img {
    width: 175px;
    height: 175px;
    object-fit: cover;
    float: left;
    margin-right: 15px;
  }
}

/* social like */
#viewlet-social-like {
  position: fixed;

  display: block;
  float: none;
  margin: 0 0 0 -80px;

  width: 100px;

  &.vertical {
    min-height: 7em !important;
    width: 73px;
    float: left;
  }
  &.is-scrolling {
    position: absolute;
    bottom: 0;
  }
  dl.image-right {
    margin-right: -10%;
  }
  dl.image-left {
    margin-left: -10%;
  }
  > div {
    cursor: pointer;
    position: relative;

    float: none;
    overflow: hidden;

    margin: 0;

    cursor: pointer;
    border: 1px solid #979797;
    width: 48px;
    height: 48px;
    border-radius: 100%;
    margin-bottom: 20px;
    background: #fff;

    display: flex;
    align-items: center;
    justify-content: center;
  }
  > div::before {
    content: '';
    display: block;
  }
  > div:hover::before {
    filter: invert(100%);
  }
  > div > * {
    position: absolute !important;
    z-index: 1000;
    top: 0;
    left: 0;

    transform: scale(5);
    transform-origin: left top;

    opacity: 0;
  }
  .sociallike-network-facebook::before {
    @include sprite($rede-facebook-topo);
  }
  .sociallike-network-facebook:hover {
    background: #3b5999;
  }
  .sociallike-network-twitter::before {
    @include sprite($rede-twitter-topo);
  }
  .sociallike-network-twitter:hover {
    background: #55acee;
  }
  .sociallike-network-gplus::before {
    @include sprite($rede-googleplus-topo);
  }
  .sociallike-network-gplus:hover {
    background: #dd4b39;
  }
  .sociallike-network-linkedin::before {
    @include sprite($rede-linkedin);
  }
  .sociallike-network-linkedin:hover {
    background: #0077b5;
  }
}
.portaltype-collective-nitf-content #viewlet-social-like {
  left: 50%;
  margin-left: - $content-width / 2 !important;
  transform: translateY(245px);
  &.is-scrolling {
    transform: translateY(0);
  }
}
.portaltype-document #viewlet-social-like {
  transform: translateY(85px);
  &.is-scrolling {
    transform: translateY(0);
  }
}

/* colecao */
.portaltype-collection,
.template-filtro-de-resultados {
  .subtitle {
    font-size: 0.875rem;
    color: #069cff;
    font-weight: bold;
    text-transform: uppercase;
    font-family: inherit;
  }
  h2.tileHeadline {
    font-size: 1.375rem;
    a {
      color: #333333 !important;
    }
  }
  .tileItem {
    margin-bottom: 60px;
    .documentByLine {
      padding: 0;
      margin: 0;
      color: #a6a6a6;
      font-family: inherit !important;
      border: none;
      text-align: left;
      font-size: 0.875rem;
      font-weight: 500;
    }
  }
  .tileImage img {
    float: right;
    margin: 0 1em 0.5em 1em;
  }
  .keywords a {
    background: #eee;
    padding: 8px 15px;
    color: #222 !important;
    border-radius: 30px;
    text-transform: uppercase;
    display: inline-block;
    margin: 0 10px 10px 0;
    font-size: 0.75rem;
    font-weight: 600;
  }
  #results article {
    margin-bottom: 40px;
  }
}

/* paginacao */
ul.paginacao {
    display: flex;
    list-style: none;
    justify-content: center;
    margin: 30px 0;

    li {
      display: inline-flex;
      margin: 5px;
      list-style: none;
    }
    li a {
      padding: 3px 10px;
      color: #333 !important;
    }
    li a.proximo, li a.anterior {
        font-weight: bold;
    }
    li span {
      padding: 3px 10px;
      background: #333;
      color: #fff;
      font-weight: bold;
    }
    li span.reticencias {
        background: transparent;
        color: #333;
    }
}

/* agenda */

body.portaltype-agenda,
body.portaltype-agendadiaria {
  background: #f9f9f9;
}
.portaltype-agenda, 
.portaltype-agendadiaria {
  #main {
    width: 100% !important;
  }
  #wrapper {
    padding-top: 0;
  }
  #content .documentFirstHeading {
    padding-top: 40px;
  }
  .portalMessage {
    margin: 0 auto 2rem auto;
    width: 1110px;
  }
  #content .search-form .LSBox {
    width: 1020px !important;
  }
}
.ui-widget {
  font-family: Raleway, sans-serif;
}
#content .ui-datepicker .ui-datepicker-month, 
body .ui-datepicker .ui-datepicker-month,
.portaltype-agenda #content .search-form .searchField, 
.portaltype-agendadiaria #content .search-form .searchField,
#content .ui-datepicker .ui-datepicker-year, 
body .ui-datepicker .ui-datepicker-year {
  font-family: Raleway, sans-serif;
  font-size: 0.875rem;
}

/* reportar erros */
a#error-reporting-toggle {
  font-weight: bold;
  float: right;
  text-transform: uppercase;
  font-size: .85rem;
  color: #333;
  margin-top: 22px;
}
a#error-reporting-toggle::after {
  content: "^";
  background: #222;
  color: #fff;
  border-radius: 50%;
  padding: 3px 5px 5px 5px;
  display: block;
  float: right;
  width: 15px;
  height: 15px;
  text-align: center;
  font-size: 1.4em;
  margin: -3px 0 0 10px;
  font-weight: 700;
  transform: rotate(180deg);
}
a#error-reporting-toggle.open::after {
  transform: rotate(0deg);
}
#error-reporting {
  background-color: #f9f9f9;
  border: solid 1px #e5e5e5;
  clear: right;
  margin-top: 80px;

  h1.documentFirstHeading,
  .documentByLine {
    display: none !important;
  }

  #content {
    width: 60%;
    margin: 68px auto;
  }

  input[type="text"] {
    width: 100%;
    height: 30px;
  }

  h2 {
    text-align: center;
    font-weight: 500;
    margin-bottom: 50px
  }

  .formControls {
    text-align: center;
  }

  .formControls input {
    height: 50px;
    border-radius: 30px;
    border: 0;
    padding: 10px 40px;
    background: #333;
    color: #fff;
    text-transform: uppercase;
    font-weight: 700;
  }

}

/* liveblog */
.portaltype-liveblog {
  #micro-updates {
    margin-bottom: 60px;
  }
  #micro-updates article {
    border-left: 1px solid #000;
    border-top: none;
    clear: both;
    margin-bottom: 0;
    padding: 1em 0 0 0;
    position: relative;
    margin-left: 120px;
  }
  .microupdate-title {
    font-size: 1.375rem;
  }
  .microupdate-title, .microupdate-text, .microupdate-byline p {
    margin-left: 60px;
  }
  .microupdate-text p {
    font-size: 1.375rem;
  }
  .microupdate-byline {
    color: #666;
  }
  .microupdate-byline time {
    background: #f1f1f1;
    padding: 1em 0;
    position: absolute;
    text-align: center;
    top: 0;
    width: 90px;
    left: -120px;
    display: inline-block;
  }
  .microupdate-time {
    color: #c9c9c9;
    font-size: 1.375rem;
    font-weight: normal;
  }
  .microupdate-date {
    color: #c9c9c9;
    font-size: .7rem;
  }
  .microupdate-byline:after {
    content: "";
    background: #000;
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 10px;
    position: absolute;
    top: 25px;
    left: -5px;
  }
  #micro-updates article:after {
    content: " ";
    border-bottom: 1px solid #e5e5e5;
    margin: 60px 0 60px 60px;
  }
  #parent-fieldname-text::first-letter {
    color: #333;
    font-size: inherit;
    display: inherit;
    font-weight: inherit;
    float: none;
    line-height: inherit;
    margin-right: inherit;
  }
  .userrole-anonymous .microupdate-byline p {
    display: none;
  }
  header#main-header {
    background-color: transparent;
  }
  #wrapper {
    margin-top: 425px;
  }
  #liveblog-header {
    background: #000;
    position: absolute;
    width: 100%;
    height: 680px;
    top: 0;
    left: 0;
    z-index: -2;
  }
  #liveblog-header img {
    height: 680px;
    width: 100%;
    object-fit: cover;
  }
  .top_embedded {
    margin-bottom: -4px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: -1;
  }
  .top_embedded iframe {
    height: 680px;
    width: 100%;
  }
  .linha-destaquetopo iframe {
    height: 680px;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: -1;
  }
  #spinner {
    text-align: right;
  }
}
