/* contraste */
// referenciar melhor os elementos a serem invetidos para evitar comportamentos inesperados.
body.contraste,
body.folder_contraste {
  #wrapper a:after {
    background: white;
    color: black;
  }
  .documentFirstHeading, .discreet, .plain {
    margin-top: 0;
    color: white !important;
  }
  footer {
    #portalredes-twitter {
      @include sprite($rede-twitter-topo);
      filter: invert(100%);
    }
    #portalredes-youtube {
      @include sprite($rede-youtube-topo);
      filter: invert(100%);
    }
    #portalredes-facebook {
      @include sprite($rede-facebook-topo);
      filter: invert(100%);
    }
    #portalredes-flickr {
      @include sprite($rede-flickr-topo);
      filter: invert(100%);
    }
    .logo-acesso {
      filter: invert(100%);
      display: block;
      text-indent: -3000px;
    }
    .logo-governo {
      filter: invert(100%);
      display: block;
      text-indent: -3000px;
    }
  }

  background-color: black;
  border-bottom: 1px solid hsla(0,0%,100%,.2);
  color: #fff;
  margin-bottom: 0;
  a, .breadcrumbSeparator {
    color: #fff !important;
  }
  #breadcrumbs-home a:before {
    filter: invert(100%)
  }
  header,
  footer,
  .actionMenu.deactivated
  h1,
  h2,
  h3,
  h5,
  h6,
  dl.portlet a:hover,
  p.section,
  #category,
  #category-vcge,
  #content #description,
  #content #tile_banner_rotativo .credito,
  #content #tile_banner_rotativo .descr,
  #content #tile_banner_rotativo .title,
  #content .documentByLine .summary-view-icon,
  #content .documentDescription,
  #content .gallery-element-metadata .title,
  #content .gallery-footer a,
  #content .gallery-footer a:hover,
  #content .outstanding-header .outstanding-link:hover,
  #content .poll-tile .poll-tile-header > .header,
  #content .poll-tile .tile-content-wrapper > form > input[type=radio]+span,
  #content .pullquote,
  #content .subtitle,
  #content a:hover,
  #content article #viewlet-below-content-title .contentHistory a,
  #content article #viewlet-below-content-title .documentModified,
  #content article #viewlet-below-content-title .documentPublished,
  #content article div[property*='articleBody'] p,
  #content div.newsImageContainer p.discreet,
  #doormat-container dt,
  #galeria_de_fotos,
  #logo #portal-logo,
  #logo #portal-title,
  #plone-document-byline,
  #portal-breadcrumbs > span > span.breadcrumbSeparator,
  #portal-breadcrumbs a,
  #portal-breadcrumbs span,
  #portal-column-one > .nav-menu-de-relevancia .first-item-nav a span,
  #portal-column-one > .nav-menu-de-relevancia .first-item-nav a,
  #portal-siteactions a,
  #portal-siteactions a:hover,
  .cover-collection-tile .tile-header span,
  .cover-collection-tile p,
  .cycle-player .cycle-overlay,
  .galeria_container,
  .galleria-info-description,
  .galleria-info-text .rights,
  .galleria-info-title a,
  .galleria-info-title a:hover,
  .item-central .link-central,
  .lista-vertical .tile-header h3,
  .lista-vertical .tile-header span,
  .nitfByline,
  .outstanding-header .outstanding-link,
  .portletNavigationTree > .portletItem a span,
  .tile a,
  .tile p,
  .tile-content p,
  .tile-subtitle,
  .videogallery-tile .description,
  .videogallery-tile .subtitle,
  &.template-facetednavigation_view #content .tileItem .keywords,
  &.template-folder_summary_view #content .tileItem .keywords,
  &.template-summary_view #content .tileItem .keywords,
  &.template-summary_view #content .tileItem .subtitle,
  &.template-summary_view #content .tileItem .tileHeadline a,
  &.template-summary_view #content .tileItem .description,
  &.template-summary_view #content .tileItem .keywords,
  &.template-summary_view #content .tileItem .subtitle,
  &.template-summary_view #content .tileItem .documentByLine {
    color: #FFF;
    background: black !important;
  }
}