.portaltype-collective-nitf-content article {
  padding: 0 90px;
}

div[property="rnews:articleBody"]::first-letter {
  color: $main-color !important;
  font-size: 5rem;
  display: block;
  font-weight: bold;
  float: left;
  line-height: 4rem;
  margin-right: 10px;
}

h1.documentFirstHeading {
  font-size: 44px;
  text-align: center;

  margin-top: 0;
  margin-bottom: .6em;
  
}



p.section {
  display: none;
}

p.nitfSubtitle {
  color: $link-color;
  font-size: 22px;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
}
#content .documentDescription, #content #description {
  color: $description-color;
  font: normal 1.25rem $main-font;
  text-align: center;
  margin-bottom: 2rem;
}

.documentByLine {
  padding: 25px 0;
  margin: 40px 0;
  color: $byline-color;
  font-family: $main-font !important;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}

#content .pullquote, .portletStaticText .pullquote {
  margin: 0 1em 0.5em -90px;
  float: left;
  width: 45%;
  clear: left;
  font-size: 1.5rem;
  letter-spacing: -0.08em !important;
  border-top: 3px solid $main-color;
  padding: 2rem 0;
}
dd.image-caption {
  text-align: center;
  padding: 0;
  margin: 0 !important;
}

/* estilos de texto */
.box-recuado {
  margin: 1rem -90px;
}

#viewlet-below-content {
  margin: 0 90px;
  padding: 20px 0;
  border-top: solid 0.5px #ccc;
}

#category {
  font-size: 100%;
  text-align: left;
  padding-bottom: 20px;

  a.link-category, a.link-category:hover {
    background: transparent;
    border: solid 2px #222;
    padding: 0.5em 0.8em;
    color: #222;
    border-radius: 1.2em;
    text-transform: uppercase;
    display: inline-block;
    margin-bottom: 5px;
  }
}

.voltar-topo {
    width: 20%;
    float: right;
    text-align: right;

    a {
      color: #222;
      text-transform: uppercase;
      font-size: .8rem;
      font-weight: 700;
      margin-top: 1rem;
      display: inline-block;
    }
}
.voltar-topo a:after {
  content: "\005e";
  background: #222;
  color: #fff;
  border-radius: 50%;
  padding: 11px 10px 8px 10px;
  display: block;
  float: right;
  width: 20px;
  height: 20px;
  text-align: center;
  font-size: 1.4em;
  margin: -10px 0 0 10px;
  font-weight: bold;
}

.texto-copyright {
  border-top: solid 0.5px #ccc;
  border-bottom: solid 0.5px #ccc;
  padding: 20px 0;
}

/* relacionados */

#relatedItemBox {
  @extend .ct-width;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-bottom: 90px;

  dt {
    width: 100%;
    text-align: center;
    font-size: 2.25rem;
    font-weight: 900;
    padding: 90px 0 50px 0;
  }
  dd {
    width: 31%;
  }
  p {
    color: $link-color;
    font-size: .875rem;
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 12px;
  }
  a, a:hover {
    font-size: 1.125rem;
    font-weight: bold;
    color: $header-color !important;
    line-height: 1.39;
  }
  img {
    width: 175px;
    height: 175px;
    object-fit: cover;
    float: left;
    margin-right: 15px;
  }
}