/***** Footer *****/

#portal-footer {
	clear: both;
	color: $footer-text;
	background-color: $footer-color;
	padding: 90px 20px 300px 20px;
	font-size: 75%;

	.footer-logo {
	  padding-bottom: 20px;
	}
	.footer-wrapper {
	  @extend .ct-width;
	}

	.colunas-rodape {
	  display: flex;
	  flex-wrap: wrap;
	}
	ul li  {
		display: block;
	}
	.coluna-redes {
		width: 100% !important;
		padding-bottom: 30px;
		border-bottom: 1px solid #ccc;
		margin-bottom: 30px;
		ul li  {
			display: inline-block;
			margin-right: 40px;
		}
		h3 {
			font-size: 1.5rem;
			text-transform: uppercase;
			margin-bottom: 20px;
		}
	}

	a, a:hover {
	  color: $footer-link !important;
	}

	.coluna-governo {
	  width: 100%;
	  margin-top: 60px;

	  ul {
		display: flex;
		justify-content: flex-end;
	  }
	  li {
	  	margin-left: 50px;
	  }
	}
	.logo-governo {
		@include sprite($gg);
		display: block;
		text-indent: -3000px;
	}
	.logo-acesso {
		@include sprite($ai);
		display: block;
		text-indent: -3000px;
	}
}

.coluna-menu {
  display: flex;
  .rodape-navigation {
    display: flex;
    li {
      font-weight: 900;
      border-right: 1px solid #f1f1f1;
      display: block;
      margin-right: 25px;
      padding-right: 20px;
      font-size: 1rem;
      text-transform: uppercase;
    }
  }
  a:link,
  a:hover,
  a:visited {
    color: #333 !important;
  }
  .submenu {
    li {
      width: 100%;
      font-weight: normal;
      margin-right: 0;
      font-size: 0.875rem;
      text-transform: none;
    }
  }
}
ul.submenu {
  display: block;
  position: relative;
  top: 25px;
}
