/***** Footer *****/

#portal-footer {
	clear: both;
	color: $footer-text;
	background-color: $footer-color;
	padding: 90px 20px 300px 20px;
	font-size: 75%;

	.footer-logo {
	  padding-bottom: 20px;
	}
	.footer-wrapper {
	  @extend .ct-width;
	}

	.colunas-rodape {
	  display: flex;
	  flex-wrap: wrap;
	}
	ul li  {
		display: block;
	}
	.coluna-redes {
		width: 100% !important;
		padding-bottom: 30px;
		border-bottom: 1px solid #ccc;
		margin-bottom: 30px;
		ul li  {
			display: inline-block;
		}
	}

	a, a:hover {
	  color: $footer-link;
	}

	.coluna-governo {
	  ul {
		display: flex;
		justify-content: space-between;
	  }
	}
	#logo-governo.logo-governo {
		@include sprite($gg);
		display: block;
		text-indent: -3000px;
	}
	#logo-acesso.logo-acesso {
		@include sprite($ai);
		display: block;
		text-indent: -3000px;
	}
}

.coluna-menu {
  display: flex;
  .rodape-navigation {
    display: flex;
    li {
      font-weight: 900;
      border-right: 1px solid #f1f1f1;
      display: block;
      margin-right: 25px;
      padding-right: 20px;
    }
  }
  a:link,
  a:hover,
  a:visited {
    color: #333 !important;
  }
  .submenu {
    li {
      width: 100%;
      font-weight: normal;
      margin-right: 0;
      font-size: 0.875rem;
    }
  }
}
ul.submenu {
  display: block;
  position: relative;
  top: 25px;
}

/* Icones do Rodape */
footer {
  #portalredes-twitter {
	@include sprite($rede-twitter);
  }
  #portalredes-youtube {
	@include sprite($rede-youtube);
  }
  #portalredes-flickr {
	@include sprite($rede-flickr);
  }
  #portalredes-facebook {
	@include sprite($rede-facebook);
  }
  #portalredes-googleplus {
	@include sprite($rede-googleplus);
  }
  #portalredes-slideshare {
	@include sprite($rede-slideshare);
  }
  #portalredes-soundcloud {
	@include sprite($rede-soundcloud);
  }
  #portalredes-rss {
	@include sprite($rede-rss);
  }
  #portalredes-instagram {
	@include sprite($rede-instagram);
  }
  #portalredes-tumblr {
	@include sprite($rede-tumblr);
  }
}