/***** Footer *****/

#portal-footer {
	clear: both;
	color: $footer-text;
	background-color: $footer-color;
	padding: 90px 20px 300px 20px;
	font-size: 75%;

	.footer-logo {
	  padding-bottom: 20px;
	}
	.footer-wrapper {
	  @extend .ct-width;
	}

	.colunas-rodape {
      display: flex;
      flex-wrap: wrap;
	}
	.coluna-redes {
	  width: 100%;
	  padding-bottom: 30px;
      border-bottom: 1px solid #ccc;
      margin-bottom: 30px;
	}

	a, a:hover {
	  color: $footer-link !important;
	}
	.coluna-menu {
	  width: 30%;
	}
	.coluna-links {
	  width: 30%;
	}
	.coluna-governo {
	  width: 30%;
	  ul {
		display: flex;
		justify-content: space-between;
	  }
	}
	.logo-governo {
		@include sprite($gg);
		display: block;
		text-indent: -3000px;
	}
	.logo-acesso {
		@include sprite($ai);
		display: block;
		text-indent: -3000px;
	}
}
