/********** Top **********/

header#main-header {
  color: $top-text;
  background-color: $top-color;

  a:link,
  a:hover,
  a:visited {
    text-decoration: none;
    color: $top-link;
  }

  .header-wrapper {
    @extend .ct-width;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 0;
    border-bottom: 1px solid rgba(256, 256, 256, 0.2);
  }

/********** Navegacao **********/
  .navigation-wrapper {
    display: none;
    background-color: $nav-color;
    color: $nav-link;
    border-bottom: 1px solid #f1f1f1;
    padding: 40px 0;
    position: absolute;
    left: 0;
    right: 0;
    z-index: 1;
    box-shadow: 0 8px 6px -6px #ccc;


    h4 {
      margin-bottom: 20px;
    }

    ul li {
      display: list-item;
      margin-bottom: .8rem;
    }
    #portal-redes li {
      display: inline-block;
    }
  }

  .navigation-content:before {
    content: "\25B2";
    position: absolute;
    top: -50px;
    left: -4px;
    color: #fff;
    font-size: 36px;
    line-height: 1rem;
  }
  .navigation-content {
    @extend .ct-width;
    position: relative;
  }
  #navigation-redes {
    border-right: none;
  }
}
/* navegacao */
#main-navigation {
  display: flex;
  .list-navigation {
    display: flex;
    li {
      font-weight: 900;
      border-right: 1px solid #f1f1f1;
      display: block;
      margin-right: 25px;
      padding-right: 20px;
    }
  }
  a:link,
  a:hover,
  a:visited {
    color: #333 !important;
  }
  .submenu {
    li {
      width: 100%;
      font-weight: normal;
      margin-right: 0;
      font-size: 0.875rem;
    }
  }
}
ul.submenu {
  display: block;
  position: relative;
  top: 25px;
}

/********** Icones **********/
.header-icons {
  width: 90px;
  border-right: 1px solid rgba(256, 256, 256, 0.2);

  .ico-navegacao {
    display: inline-block;
    cursor: pointer;
    margin-right: 10px;
    text-indent: -3000px;
    @include sprite($nav);
  }
  .ico-busca {
    display: inline-block;
    cursor: pointer;
    text-indent: -3000px;
    @include sprite($busca);
  }
}
/********** Links do topo **********/
.header-accessibility {
    width: 280px;
    text-align: right;
    text-transform: uppercase;
    font-size: 70%;
    line-height: 1.2rem;

  .link-contraste {
    display: inline-block;
    position: relative;
    padding: 0 20px 0 20px;
    border-right: 1px solid rgba(256, 256, 256, 0.2);
  }
  .link-contraste:before {
    content: "";
    position: absolute;
    top: 3px;
    left: 0;
    @include sprite($contraste);
  }
  .link-vlibras {
    display: inline-block;
    position: relative;
    padding: 0 0 0 20px;
    margin-left: 20px;
  }
  .link-vlibras:before {
    content: "";
    position: absolute;
    top: 3px;
    left: 0;
    @include sprite($vlibras);
  }
}

/********** Logo **********/
#portal-logo {
  margin: 0;
}
#logo {
  flex-grow: 1;
  font-size: 28px;
  font-weight: normal;
  margin: 0 20px;

  h1, #portal-title {
    display: inline;
    color: $top-link;
    font-size: 28px;
    font-weight: bold;
  }
  #portal-description {
    font-size: 16px;
  }
}


/********** Busca **********/
#portal-searchbox {
  background-color: transparent;
  float: none;
  width: 100%;
  text-align: center;
  padding: 140px 0;
  margin: 0;
  display: none;
  border-bottom: 1px solid #f1f1f1;
  position: relative;

  h2 {
    color: $top-text;
  }

  legend {
    height: inherit;
    width: 780px;
    margin: auto;
    overflow: visible;
    color: #fff;
    background-color: transparent;
    position: absolute;
    font-size: 30px;
    top: 100px;
    font-weight: 900;
  }

  fieldset {
    border: none;
    padding: 0;
    margin: 0;
  }

  form {
    background: $top-text;
    width: 780px !important;
    margin: 0 auto;
  }

  .searchField {
    border: none;
    width: 92%;
    padding: 15px 0;
    height: 30px;
    color: #ccc;
  }
  .searchButton {
    border: none;
    text-indent: -3000px;
  @include sprite($botao-busca);
  }
}

/* variacao de cores do header na busca ativa */
#portal-searchbox.ativo {
    background-color: #fff !important;
    display: block !important;
    color: #333;

    legend {
        color: #222 !important;
    }
    form {
        border: solid 1px #e4e4e4;
    }
    form:before {
        content: "+";
        transform: rotate(-45deg);
        font-size: 3.5rem;
        color: #222;
        position: absolute;
        top: 20px;
        margin-left: 540px;
        cursor: pointer;
    }
}

header#main-header.busca-ativa {
  color: #222 !important;
  background-color: $top-text !important;

  a, a:link, #logo #portal-title, #logo h1 {
    color: #222 !important;
  }
  .header-wrapper {
    border-bottom: 1px solid #e4e4e4;
  }
  .header-icons {
    border-right: 1px solid #e4e4e4;
  }
  .ico-navegacao {
    @include sprite($nav-escuro);
  }
  .ico-busca {
    @include sprite($busca-escuro);
  }
  .link-contraste:before {
    @include sprite($contraste-escuro);
  }
  .link-vlibras:before {
    @include sprite($vlibras-escuro);
  }
  .header-accessibility .link-contraste {
    border-right: 1px solid #e4e4e4;
  }
}

/********** Breadcrumb **********/
#portal-breadcrumbs {
  @extend .ct-width;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  padding: 15px 0;
  font-size: 90%;

  #breadcrumbs-you-are-here {
    display: none;
  }
  #breadcrumbs-home a {
    text-indent: -3000px;
    display: inline-block;
  position: relative;
  width: 20px;
  }
  #breadcrumbs-home a:before {
  content: "";
  position: absolute;
  top: 3px;
  left: 0;
  @include sprite($casinha);
  }
  a,
  a:hover {
    text-decoration: none;
    color: $txt-color;
  }
  #breadcrumbs-current {
    font-weight: bold;
  }
  .breadcrumbSeparator {
    padding: 0 10px;
  }
}

.section-pagina-inicial #portal-breadcrumbs {
  display: none;
}

#portal-personaltools {
  position: fixed;
}

/* inversão de cores para casos especiais */
header.inverter {
  background-color: transparent !important;
  margin-bottom: 0 !important
}
.inverter #portal-breadcrumbs {
  border: none;
  color: #fff;
  margin-bottom: 0;
  a, .breadcrumbSeparator {
    color: #fff !important;
  }
  #breadcrumbs-home a:before {
    @include sprite($casinha-branca);
  }
}