/********** Top **********/

header#main-header {
  color: $top-text;
  background-color: $top-color;

  a:link,
  a:hover,
  a:visited {
    text-decoration: none;
    color: $top-link;
  }

  .header-wrapper {
    @extend .ct-width;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    border-bottom: 1px solid $top-border-color;
  }

/********** Navegacao **********/
  .navigation-wrapper {
    display: none;
    background-color: $nav-color;
    color: $nav-link;
    border-bottom: 1px solid #f1f1f1;
    padding: 40px 0;
    position: absolute;
    left: 0;
    right: 0;
    z-index: 1;
    box-shadow: 0 8px 6px -6px #ccc;


    h3 {
      font-size: 16px;
      margin-bottom: 20px;
    }

    ul li {
      display: list-item;
      margin-bottom: 1.25rem;
    }
    .portal-redes li {
      display: inline-block;
    }
  }

  .navigation-content:before {
    content: "\25B2";
    position: absolute;
    top: -50px;
    left: -4px;
    color: #fff;
    font-size: 36px;
    line-height: 1rem;
  }
  .navigation-content {
    @extend .ct-width;
    position: relative;
  }
  #navigation-redes {
    border-right: none;
  }
}
/* navegacao */
#main-navigation {
  display: flex;
  .list-navigation {
    display: flex;
    flex-wrap: wrap;
    max-width: 980px;
    li {
      font-weight: 900;
      border-right: 1px solid #f1f1f1;
      display: block;
      margin-right: 25px;
      padding-right: 20px;
      width: 170px;
      box-sizing: border-box;
    }
  }
  a:link,
  a:hover,
  a:visited {
    color: $nav-link !important;
  }
  .submenu {
    li {
      width: 100%;
      font-weight: normal;
      margin-right: 0;
      font-size: 0.875rem;
      border: none;
    }
    li a {
      font-weight: 500;
      color: #222 !important;
    }
  }
}
ul.submenu {
  display: block;
  position: relative;
  top: 25px;
}

/* apenas busca expandida */
.expandable-header-template.section-pagina-inicial {
  header#main-header {
    color: #fff;

    a:link,
    a:hover,
    a:visited {
      color: #fff;
    }
  }
}

/********** Icones **********/
.header-icons {
  margin: 15px 20px 15px 0;

  .ico-navegacao {
    display: inline-block;
    cursor: pointer;
    text-indent: -3000px;
    @include sprite($nav);
    filter: $top-icons;
  }
  .ico-busca {
    display: inline-block;
    cursor: pointer;
    text-indent: -3000px;
    @include sprite($busca);
    filter: $top-icons;
  }
}
.header-wrapper {
  .header-icons {
    border-right: 1px solid hsla(0,0%,100%,.2);
    padding-right: 20px;
    margin-right: 20px;
  }
  .ico-navegacao {
    margin-right: 10px;
  }
}

/********** Links do topo **********/
.header-accessibility {
    width: 280px;
    text-align: right;
    text-transform: uppercase;
    font-size: 0.6875rem;
    line-height: 1.2rem;
    font-weight: bold;

  #siteaction-contraste > a {
    display: inline-block;
    position: relative;
    padding: 0 20px 0 25px;
    border-right: 1px solid rgba(256, 256, 256, 0.2);
  }
  #siteaction-contraste > a:before {
    content: "";
    position: absolute;
    left: 0;
    @include sprite($contraste);
    filter: $top-icons;
  }
  #siteaction-vlibras > a {
    display: inline-block;
    position: relative;
    padding: 0 0 0 20px;
    margin-left: 20px;
  }
  #siteaction-vlibras > a:before {
    content: "";
    position: absolute;
    top: 3px;
    left: 0;
    @include sprite($vlibras);
    filter: $top-icons;
  }
}

/********** Logo **********/
#portal-logo {
  margin: 0;
  display: flex;
  flex-wrap: wrap;
}
#logo {
  flex-grow: 1;
  font-size: 1.625rem;
  font-weight: normal;
  margin: 0 20px 0 0;

  h1, #portal-title {
    display: inline;
    font-size: 1.625rem;
    font-weight: 900;
  }
  #portal-title-1 {
    margin-right: 0.5rem;
  }
  #portal-description {
    font-size: 0.625rem;
    font-weight: bold;
    width: 100%;
    order: -2;
    opacity: 0.6;
    text-transform: uppercase;
  }
}
/********** Segunda linha  **********/

.search-wrapper {
  display: flex;
  justify-content: space-between;
  height: 60px;
  align-items: center;
  @extend .ct-width;
}

.links-destaque {
  flex-grow: 1;

  li {
    margin-right: 20px;
    font-size: 1.063rem;
    font-weight: 500;
  }
}

/********** Busca **********/
#portal-searchbox {
  float: none;
  width: 408px;
  margin: 9px 0;

  fieldset {
    margin: 0;
    padding: 0 15px 0 20px;
    border: 0;
    background: #fff;
    border-radius: 30px;
    border: 1px solid $top-border-color;
  }
  .searchField {
    border: none;
    width: 92%;
    padding: 12px 0;
    color: #222;
    font-size: 0.75rem;
  }
  .searchButton {
    border: none;
    text-indent: -3000px;
  @include sprite($botao-busca);
  }
}

header#main-header.busca-ativa {
  color: #222 !important;
  background-color: $top-busca-ativa !important;

  a, a:link, #logo #portal-title, #logo h1 {
    color: #222 !important;
  }
  .header-wrapper {
    border-bottom: 1px solid #e4e4e4 !important;
  }
  .header-icons {
    border-right: 1px solid #e4e4e4;
  }
  .ico-navegacao {
    @include sprite($nav-escuro);
    filter: none;
  }
  .ico-busca {
    @include sprite($busca-escuro);
    filter: none;
  }
  #siteaction-contraste > a:before {
    @include sprite($contraste-escuro);
    filter: none;
  }
  #siteaction-vlibras > a:before {
    @include sprite($vlibras-escuro);
    filter: none;
  }
  .header-accessibility #siteaction-contraste > a {
    border-right: 1px solid #e4e4e4;
  }
}
/*inverte cores na home do header expandido */
.expandable-header-template.section-pagina-inicial header#main-header {
  .ico-navegacao,
  #siteaction-contraste > a:before,
  #siteaction-vlibras > a:before {
    filter: none;
  }
  .header-wrapper {
        border-bottom: 1px solid rgba(256,256,256,.1);
  }
}

/***** Busca extendida *****/
.expandable-header-template {
  #portal-searchbox {
    z-index: 1;
    background-color: transparent;
    float: none;
    width: 100%;
    text-align: center;
    padding: 140px 0;
    margin: 0;
    display: none;
    border-bottom: 1px solid #f1f1f1;
  }
  #portal-searchbox fieldset {
    border: none;
  }
  #portal-searchbox form {
    background: #fff;
    width: 780px!important;
    margin: 0 auto;
  }
  #portal-searchbox .searchField {
    width: 92%;
    padding: 0 0 15px 0;
    height: 30px;
    color: #222 !important;
    font-size: 18px;
    position: relative;
  }
  #portal-searchbox .searchField::placeholder {
      color: #222 !important;
  }
  #portal-searchbox input[type="text"].searchField:focus {
      background-color: transparent;
  }
  .navigation-wrapper {
      z-index: 5 !important;
  }
  #portal-searchbox .searchField,
  #portal-searchbox .search-suggestions {
    z-index: 3;
  }
  #search-overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    display: none;
  }
  #portal-searchbox {
      border: none;
      position: absolute !important;
  }
  #portal-searchbox .search-suggestions {
      display: none;
  }
  .header-wrapper>div {
      z-index: 1;
  }
  #portal-searchbox legend {
    height: inherit;
    width: 780px;
    margin: auto;
    overflow: visible;
    color: #fff;
    background-color: transparent;
    position: absolute;
    font-size: 30px;
    top: 100px;
    font-weight: 900;
  }
  #portal-searchbox.ativo form {
    border: 1px solid #e4e4e4;
  }
  #portal-searchbox.ativo {
    background-color: #fff !important;
    z-index: 2;
    background-image: none !important;
  }
  #portal-searchbox.ativo legend {
    font-size: 2.25rem;
    color: #222!important;
}
  #portal-searchbox.ativo .close {
    display: block;
    transform: rotate(-45deg);
    font-size: 3.5rem;
    color: #222;
    position: absolute;
    top: 20px;
    right: 50px;
    cursor: pointer;
  }
  #portal-searchbox.ativo .searchField {
    padding: 15px 0;
  }
}

.expandable-header-template.section-pagina-inicial {
  #portal-searchbox {
      position: relative !important;
      display: block !important;
      border: none;
  }
  .header-icons {
      width: 45px !important;
      padding-right: 0;
  }
  .ico-busca {
      display: none !important;
  }
  header#main-header {
      background: transparent;
      position: relative;
  }
  .header-wrapper {
      z-index: 10;
      position: inherit;
      margin-bottom: 560px !important;
  }
  header#main-header .navigation-wrapper {
      top: 58px;
  }
  #portal-searchbox legend {
      top: 158px;
  }
  header #portal-searchbox {
      margin: 0 auto;
      background-position: bottom center;
      background-repeat: no-repeat;
      background-size: cover;
      background-color: $main-color;
      height: 620px;
      position: absolute !important;
      width: 100%;
      top: 0;
      z-index: 0;
      padding-top: 198px;
      box-sizing: border-box;
  }
}

.searchbox-background-media {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 620px;
  z-index: -2;
  object-fit: cover;
  overflow: hidden;
  video {
    width: 100%;
  }
}

/********** Em Alta *************/
.top-subjects {
  min-width: 860px;
  margin: 135px auto 0;
  display: inline-block;

  h3 {
    color: #fff;
    margin-bottom: 40px;
    display: inline-block;
    padding: 0 10px;
    font-size: 1rem;
    text-transform: uppercase;
    white-space: nowrap;
    margin-top: -8px;
    font-weight: normal !important;
  }
  li a {
    border-radius: 30px;
    border: solid 2px #ffffff;
    padding: 15px 23px;
    margin: 5px;
    font-size: 1rem;
    font-weight: bold;
    white-space: nowrap;
    display: inline-block;
  } 
  li a:hover {
    background: #fff;
    color: #0094ff !important;
  }
  .subjects-title {
    display: flex;
  }
  .subjects-title:before, .subjects-title:after {
    content: "linha";
    background: rgba(255,255,255,0.5);
    width: 40%;
    height: 1px;
    text-indent: -3000px;
  }
}
#portal-searchbox.ativo .top-subjects {
  h3 {
    color: #111;
  }
  li a {
    border-color: #111;
    color: #111;
  }
  li a:hover {
    background: #111;
    color: #fff !important;
  }
  .subjects-title:before, .subjects-title:after {
    background: rgba(0,0,0,0.5);
  }
}

/********** Sugestao de busca **********/
.search-suggestions {
  background: #fff;
  width: 780px;
  margin: 0 auto;
  border: solid 1px #c3c3c3;
  color: #222;
  text-align: left;
  position: absolute;
  padding: 20px 0;
  white-space: normal;

  a {
    color: #222 !important;
    z-index: 20;
  }

  .news {
    width: 65%;
    margin-left: 20px;
    float: left;
  }
  .services {
    width: 25%;
    margin-right: 20px;
    float: right;
  }
  .news-title, .services-title {
    font-size: 0.875rem;
    margin: 10px 0;
    text-transform: uppercase;
  }
  .bold {
    font-weight: bold;
  }
  li {
    display: list-item;
    list-style-type: disc;
    list-style-position: inside;
    padding: 7px 0;
  }
  .more-news, .more-services {
    border-radius: 30px;
    border: 2px solid #333;
    padding: 14px 20px;
    margin: 16px auto;
    display: inline-block;
    font-weight: bold;
  }
}

/********** Breadcrumb **********/
#portal-breadcrumbs {
  @extend .ct-width;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  padding: 15px 0;
  font-size: 1rem;

  #breadcrumbs-you-are-here {
    display: none;
  }
  #breadcrumbs-home a {
    text-indent: -3000px;
    display: inline-block;
  position: relative;
  width: 20px;
  }
  #breadcrumbs-home a:before {
  content: "";
  position: absolute;
  top: 3px;
  left: 0;
  @include sprite($casinha);
  }
  a,
  a:hover {
    text-decoration: none;
    color: $txt-color;
    font-weight: 500;
  }
  #breadcrumbs-current {
    font-weight: 800;
  }
  .breadcrumbSeparator {
    padding: 0;
    text-indent: -1000px;
    display: inline-block;
    @include sprite($seta-breadcrumb);
  }
}

.section-pagina-inicial #portal-breadcrumbs {
  display: none;
}

#portal-personaltools {
  position: fixed;
}

/* inversão de cores para casos especiais */
header.inverter {
  background-color: transparent !important;
  margin-bottom: 0 !important;
  .header-wrapper {
    border-bottom: 1px solid rgba(256,256,256,.2) !important;
  }
  a:hover, a:link, a:visited {
    color: #fff !important;
  }
  .ico-navegacao,
  .header-accessibility #siteaction-contraste > a:before,
  .header-accessibility #siteaction-vlibras > a:before {
    filter: none;
  }
}
#portal-breadcrumbs.inverter {
  border-bottom: 1px solid hsla(0,0%,100%,.2);
  color: #fff;
  margin-bottom: 0;
  a, .breadcrumbSeparator {
    color: #fff !important;
  }
  .breadcrumbSeparator {
    @include sprite($seta-breadcrumb-branca);
  }
  #breadcrumbs-home a:before {
    @include sprite($casinha-branca);
  }
}

/* inversão de cores para header fundo claro */
body.topo-fundo-claro {
  header.inverter {
    a:hover, a:link, a:visited {
      color: #000 !important;
    }
    .ico-navegacao,
    .header-accessibility #siteaction-contraste > a:before,
    .header-accessibility #siteaction-vlibras > a:before {
      filter: invert(100%);
    }
    .header-wrapper, 
    .search-wrapper {
      border-bottom: 1px solid rgba(0,0,0,.1) !important;
    }
  }
  #portal-breadcrumbs.inverter {
    color: #000;
    a, .breadcrumbSeparator {
      color: #fff !important;
    }
    .breadcrumbSeparator {
      @include sprite($seta-breadcrumb);
    }
    #breadcrumbs-home a:before {
      @include sprite($casinha);
    }
  }
}

/* variacao de cor do header */
.section-fale-conosco header#main-header {
  background-color: $fale-conosco;
  color: $fale-conosco-text;
  a:link,
  a:hover,
  a:visited {
    text-decoration: none;
    color: $fale-conosco-link;
  }
  .header-icons .ico-navegacao,
  .header-accessibility #siteaction-contraste > a:before,
  .header-accessibility #siteaction-vlibras > a:before {
    filter: $fale-conosco-icons;
  }
  #portal-searchbox fieldset  {
    border: 1px solid $fale-conosco-border-color;
  }
  .header-wrapper {
    border-bottom-color: $fale-conosco-border-color;
  }
}
.portaltype-collective-nitf-content header#main-header {
  background-color: $noticias;
  color: $noticias-text;
  a:link,
  a:hover,
  a:visited {
    text-decoration: none;
    color: $noticias-link;
  }
  .header-icons .ico-navegacao,
  .header-accessibility #siteaction-contraste > a:before,
  .header-accessibility #siteaction-vlibras > a:before {
    filter: $noticias-icons;
  }
  #portal-searchbox fieldset {
    border: 1px solid $noticias-border-color;
  }
  .header-wrapper {
    border-bottom-color: $noticias-border-color;
  }
}
.section-centrais-de-conteudo header#main-header {
  background-color: $central-conteudo;
  color: $central-conteudo-text;
  a:link,
  a:hover,
  a:visited {
    text-decoration: none;
    color: $central-conteudo-link;
  }
  .header-icons .ico-navegacao,
  .header-accessibility #siteaction-contraste > a:before,
  .header-accessibility #siteaction-vlibras > a:before {
    filter: $central-conteudo-icons;
  }
  #portal-searchbox fieldset {
    border: 1px solid $central-conteudo-border-color;
  }
  .header-wrapper {
    border-bottom-color: $central-conteudo-border-color;
  }
}
