.tile img {
  max-width: 100%;
  height: auto;
}

/* Portrait tablet to landscape and desktop */
/* Landscape phone to portrait tablet */
@media (max-width: 767px) {
  body {
    background-image: none;
  }
  * {
    max-width: 100%;
  }
  iframe, img {
    max-width: 100%;
    height: auto;
  }
  #main {
    display: block; 

    margin-top: 4em;
  }
  div.cell {
    left: 100%;

    float: none;

    width: 100% !important;
    margin-left: -100% !important;
  }
  #main-content,
  #column-one,
  #column-two {
    display: block;
    float: none;

    width: 100%;
  }
  .expandable-header-template #logo {
    width: 62%;
    margin: 0;
  }
  #logo #portal-title, #logo h1 {
    font-size: 1rem;
  }
  .expandable-header-template.section-pagina-inicial header #portal-searchbox {
    left: 0;
    right: 0;
  }
  .expandable-header-template #portal-searchbox form {
      max-width: 90%;
  }
  header#main-header {
    padding: 0 12px;
  }
  .portaltype-document header.inverter,
  .portaltype-collective-nitf-content header.inverter {
    margin-bottom: 400px !important;
  }
  .header-wrapper {
    flex-wrap: wrap;
  }
  .header-accessibility {
    width: 100%;
    text-align: left;
    margin-left: 4px;
  }
  #main-navigation, #main-navigation .list-navigation, .rodape-navigation {
    flex-direction: column;
    margin: 0 10px;
  }
  #main-navigation .list-navigation {
    li {
      width: 100%;
      border: none;
      font-size: 1.5rem;
    }
    ul.submenu li {
      font-size: 1.25rem;
    }
  }
  ul.submenu {
    top: 8px;
  }
  .rodape-navigation ul.submenu {
    top: 8px;
    margin-bottom: 20px;
  }
  #portal-searchbox {
    legend {
      font-size: 1rem;
      max-width: 90%;
    }
    fieldset {
      padding: 0 10px 0 20px;
    }
    .searchField {
      width: 89%;
    }
  }
  .top-subjects {
    min-width: auto;
    li {
      display: block;
    }
    li a {
      border: none;
      padding: 5px;
      margin: 5px;
    }
  }
  .tile.box-branco,
  .tile.tile-default .cover-richtext-tile {
    padding: 20px;
    box-sizing: border-box;
  }
  .template-view #content .tile-em-alta {
    a {
      white-space: normal;
    }
    .tile-header h2 {
      font-size: 0.875rem;
    }
    .tile-em-alta h2 a {
      font-size: 0.8125rem !important;
      line-height: 1rem;
      height: auto !important;
    }
  }
  .tile.box-branco h2 {
    font-size: 1.25rem;
  }
  .tile.box-branco .tile-subtitle {
    font-size: 0.6875rem !important;
  }
  /*tamanho dos titulos */
  .tile h2 {
    font-size: 1.25rem;
  }
  .tile-subtitle {
    font-size: 0.6875rem !important;
  }
  .tile.foto-sobreposta-grande,
  .tile.foto-sobreposta-pequena,
  .tile.foto-sobreposta {
    h2 {
      font-size: 1.5rem;
    }
  }

  .tile a.outstanding-link {
    font-size: 0.875rem;
  }

  .portaltype-collective-cover-content #content div.row.linha-destacada {
    margin-top: -1px;
    .box-branco .tile {
        width: 84%;
        margin: 0px auto 40px auto;
    }
  }

  .portaltype-agenda #content, 
  .portaltype-agendadiaria #content {
    .compromisso-titulo {
      font-size: 1.25rem;
    }
  }
  .portaltype-agendadiaria #content .download-compromisso>span {
    font-size: 0.75rem;
  }

  .header-accessibility,
  .links-destaque {
    display: none;
  }
  .search-suggestions {
    flex-direction: column;
    max-width: 90%;
    div {
      width: 90% !important;
      padding: 0 20px;
    }
    .news-title, .services-title {
      padding: 0 !important;
    }
  }
  #portal-breadcrumbs {
    display: none;
  }
  .portaltype-collective-nitf-content article {
    padding: 0;
  }
  h1.documentFirstHeading {
    font-size: 1.75rem !important;
    line-height: normal !important;
  }
  #content #description, #content .documentDescription {
    font-size: 1rem;
  }
  #viewlet-below-content {
    margin: 0;
  }
  .voltar-topo {
    width: 100%;
    float: none;
    text-align: center;
    margin-bottom: 20px;
  }
  #category {
    text-align: center;
  }
  .portaltype-sc-embedder {
    background: #fff;

    article {
      padding: 0;
    }
  }
  .top_embedded iframe {
    height: 50vh;
  }
  .section-fale-conosco.portaltype-formfolder .pfg-form {
    width: 100%;
  }
  .section-fale-conosco.portaltype-formfolder div[id^=parent-fieldname-formEpilogue] {
    width: 100%;
  }
  .lista-blocos .list-item {
    width: 100%;
    height: auto;
    padding: 10px;
  }
  .brasil-carousel-tile .swiper-slide, .brasil-carousel-tile .carousel-item {
    display: block;
  }
  .brasil-carousel-tile .carousel-item {
    width: 100%;
  }
  .template-centrais-de-conteudo {
    background: #fff;
  }
  .template-centrais-de-conteudo form fieldset input[type=text] {
    width: 80% !important;
    font-size: 1rem !important;
  }
  .template-centrais-de-conteudo form fieldset {
    border: 1px solid #ccc!important;
    border-bottom: 1px solid #ccc!important;
  }
  #results-bar .actionMenuHeader {
    width: 100%;
    float: none;
    border-left: 0;
    margin-top: 0;
  }
  #results-bar #filters {
    flex-flow: column;
  }
  #results-bar {
    border: 0;
  }
  #results ul:first-child {
    justify-content: space-around;

    li {
      z-index: 0;
      flex-basis: 45vw;
      width: 45vw;
      height: 45vw;
      margin-left: 0;
    }
    li img {
      height: 45vw !important;
    }
  }
  .paginacao li {
    font-size: 10px;
  }
  .portaltype-collective-cover-content.template-view div.row.linha-destaquetopo h1, .portaltype-collective-cover-content.template-view div.row.linha-destaquetopo h2, .portaltype-collective-cover-content.template-view div.row.linha-destaquetopo h3, .portaltype-collective-cover-content.template-view div.row.linha-destaquetopo p {
    width: 100%;
    padding: 20px;
  }
  .portaltype-collective-cover-content.template-view div.row.linha-destaquetopo img {
    height: 510px;
  }
  .portaltype-collective-cover-content.template-view div.row.linha-destaquetopo .tile-content {
    height: 210px;
  }
  .portaltype-collective-nitf-content #content-core p, .portaltype-document #content-core p {
    padding: 0 20px;
    box-sizing: border-box;
  }
  /* busca */
  #search-results-wrapper {
    margin-left: 0 !important;
  }
  #search-results-bar {
    width: 93%;
    padding: 0;
  }
  .template-busca #content-core input[type=text] {
    width: 80%;
  }
  .template-busca form .actionMenuHeader {
    display: none;
  }
  #search-filter {
    margin-left: 15px;
  }
  dl.searchResults {
    padding: 10px;
  }
}

/* Landscape phones and down */
@media (max-width: 480px) {
  div.cell {
    float: none;

    width: 100% !important;
    margin-left: -100% !important;
  }
  input, textarea {
    font-size: 100%;
  }
}
