#content .tile {
	a:link, a:visited {
    color: $tile-link;
	}
}
.tile {
	width: 100%;

	.tile-section {
	  color: $main-color;
	  font-weight: bold;
	  margin-bottom: 0 !important;
	  text-transform: uppercase;
	}
	h1 {
	  font-size: 30px;
	  line-height: 1.3em;
	}
	h2 {
	  font-size: 22px;
	  line-height: 1.3em;
	}
	h3 {
	  font-size: 18px;
	  line-height: 1.3em;
	}
}

.template-compose .tile-container {
    width: 100%;
}
#contentchooser-content-show-button {
    top: 50px;
    right: 50px;
    position: fixed;
}

.tile-subtitle {
    color: #06acff;
    font-size: 0.875rem !important;
    font-weight: bold;
    margin-bottom: 0 !important;
}
p.tile-description {
    line-height: 1.875rem !important;
}

/* tile de titulo */
.tile .outstanding-header {
    width: 100%;
    text-align: center;
    padding: 30px 0 10px 0;

    h2 {
        font-size: 2.25rem;
        font-weight: 900 !important;
        color: #333333;
    }
}
.tile a.outstanding-link {
    right: auto;
    display: inline-block;
    float: none;
    border-radius: 30px;
    border: solid 2px #222222 !important;
    text-transform: uppercase;
    padding: 15px 40px;
    font-size: 1rem;
    line-height: 1rem;
    font-weight: bold !important;
}
#content a.outstanding-link:hover {
	background: #06ACFF;
	border-color: #06ACFF !important;
	color: #fff !important;
}

.tile {
    display: flex;
    width: 100%;
    margin-bottom: 12px;
}

/* box colorido */
.tile.box-colorido {
    display: flex;
    >div {
        background: #56c75f;
        padding: 20px 40px;
        color: #fff !important;
        font-size: 1.3rem;
        line-height: 120%;
        align-self: inherit !important;
        align-self: flex-end;
    }
    a {
        color: #00d6d1 !important;
        background: #fff;
        border-radius: 30px;
        display: inline-block;
        padding: 11px 29px;
        font-size: 0.875rem;
        text-transform: uppercase;
        font-weight: bold;
    }
    h1 {
        color: #fff;
        font-size: 3.75rem;
        line-height: 3.063rem;
        letter-spacing: -0.0625rem;
    }
    p {    
        font-size: 120%;
        margin-top: 10px;
    }
}

/* tile box branco */
.tile.box-branco>div {
    align-self: flex-end;
    margin-bottom: 12px;
}


/* tile de foto sobreposta */
.tile.foto-sobreposta {
    position: relative;
    height: 375px;
    display: flex;

    .tile-content {
        align-self: flex-end;
    }
    img {
        object-fit: cover;
        height: 375px !important;
        position: absolute;
        top: 0;
        z-index: -2;
    }
    h1,
    h2,
    h3 {
        padding: 0 100px 20px 20px;
        margin: 0 !important;

    }
    h2 {
        font-size: 1.75rem;
        line-height: 2.188rem;
    }
    h2 a, h1 a, h3 a,
    h2 a:hover, h1 a:hover, h3 a:hover {
        color: #fff !important;
    }

    .tile-section {
        color: #0094ff;
        left: 15px;
        font-weight: bold;
        text-transform: uppercase;
        padding: 0 100px 10px 20px;
    }
    >div:before {
        background-color: transparent;
        background-image:
        linear-gradient(
          transparent, #000
        );
        content: ".";
        display: block;
        height: 375px;
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        opacity: .8;
        z-index: -1;
        text-indent: -3000px;
    }
}
#content .tile.foto-sobreposta p {
    padding: 0 20px;
    color: #fff;
    line-height: 1.563rem !important;
}



/* tile de foto sobreposta grande */
.tile.foto-sobreposta-grande {
    position: relative;
    height: 560px;
    display: flex;

    .tile-content {
        align-self: flex-end;
        padding-bottom: 90px;
    }
    img {
        object-fit: cover;
        height: 560px !important;
        position: absolute;
        top: 0;
        z-index: -2;
    }
    h1,
    h2,
    h3,
    p {
        margin: 20px 20px 20px 33px !important;
        width: 60%;
        color: #fff !important;
    }
    h2 {
        font-size: 1.75rem;
        line-height: 2.188rem;
    }

    a {
        color: #fff !important;
        background: transparent;
        border-radius: 30px;
        display: inline-block;
        padding: 11px 29px;
        font-size: 0.875rem;
        text-transform: uppercase;
        font-weight: bold;
        border: 2px solid #fff !important;
    }
}


/*linha destacada */
.portaltype-collective-cover-content div.row.linha-destacada {
    width: 100%!important;
    justify-content: center;
    background: #244a7c;
    padding: 0 0 10px 0;
    margin: 0;

    .tile {
        background: #fff;
        padding:10px 20px;
        box-sizing:border-box;
        display: flex;
        align-items: flex-end;
        justify-content: center;
        h1, h2, h3 {
            color: #244a7c;
        }

    }
    .col-md-3 {flex-basis: 285px;}
    .col-md-4 {flex-basis: 335px;}
    .col-md-5 {flex-basis: 475px;}
    .col-md-6 {flex-basis: 570px;}
    .col-md-12 {flex-basis: 1110px;}
    .tile-transparente {
        background: transparent !important;
        color: #fff !important;
        h1, h2, h3 {
            color: #fff;
        }
    }
}

/* estilo para uso na linha do cover  */
.portaltype-collective-cover-content.template-view div.row.linha-destaquetopo {
    width: 100% !important;
    margin: 0 !important;
    position: inherit;
    img {
        height: 680px;
        width: 100%;
        object-fit: cover;
        position: absolute !important;
        top: 0;
        z-index: -2;
    }
    .column {
      padding: 0;
    }
    .tile-content {
        height: 500px;
        justify-content: center;
        width: 100%;
        display: flex;
        flex-flow: column;
    }
    h1, h2, h3, p {
        width: 1140px;
        padding-right: 300px;
        box-sizing:border-box;
        margin: 0 auto 10px auto;
        color: #fff;
        a {
            color: #fff !important;
        }
    }
}
.portaltype-collective-cover-content.template-view div.row.linha-destaquetopo::before {
    background-color: transparent;
    background-image:
    linear-gradient(
      transparent, #000
    );
    content: "1111111";
    display: block;
    height: 680px;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    opacity: .8;
    z-index: -1;
    text-indent: -3000px;
}
.template-compose div.row.linha-destaquetopo {
  position: relative !important;
}

header.inverter .search-wrapper {
  border-bottom: 1px solid hsla(0,0%,100%,.2);
}


/* coluna destacada */
.colunas-destacadas .column,
.column.colunas-destacadas {
    outline: 20px solid #fff;
    background-color: #f7f7f7;
    padding: 50px 50px;
    box-sizing: border-box;
}
/* coluna quadrada */
.colunas-quadradas .column,
.column.colunas-quadradas {
    padding: 50px 50px;
    box-sizing: border-box;
}

/* TOP SUBJECTS */
.template-view #content .tile-em-alta {
    margin: 10px auto 30px auto;
    display: inline-block;

    .cover-list-tile {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }

    .tile-header {
        width: 100%;
        justify-content: center;
        display: flex;
        margin-bottom: 30px;
    }

    a {
        border-radius: 30px;
        border: solid 2px #222 !important;
        padding: 15px 23px;
        margin: 5px;
        font-size: 1rem;
        font-weight: bold;
        white-space: nowrap;
        display: inline-block;
        text-transform: uppercase;
    } 
    a:hover {
        background: #0094ff;
        color: #fff !important;
        border: solid 2px #0094ff !important;
    }
    .tile-header h2 {
        justify-content: center;
        font-weight: normal !important;
        text-transform: uppercase;
        white-space: nowrap;
        color: #222 !important;
    }
    .tile-header:before, .tile-header:after {
        content: "linha";
        background: #ccc;
        width: 30%;
        height: 1px;
        text-indent: -3000px;
        margin: 13px;
    }
}

/* header discreto */
.tile.tile-discreto .outstanding-header h2 {
    font-weight: 200 !important;
    font-size: 1rem;
}
.tile.tile-discreto .outstanding-header h2:before, .tile.tile-discreto .outstanding-header h2:after {
    content: "linha";
    background: #ccc;
    width: 30%;
    height: 1px;
    font-size: 1px;
    text-indent: -3000px;
    margin: 13px;
    display: inline-block;
}