#content .tile {
	a:link, a:visited {
    color: $tile-link;
	}
}
.tile {
	.tile-section {
	  color: $main-color;
	  font-weight: bold;
	  margin-bottom: 0 !important;
	  text-transform: uppercase;
	}
	h1 {
	  font-size: 30px;
	  line-height: 1.3em;
	}
	h2 {
	  font-size: 22px;
	  line-height: 1.3em;
	}
	h3 {
	  font-size: 18px;
	  line-height: 1.3em;
	}
}
