/*
 * @Autores
 *
 * - Simples Consultoria - www.simplesconsultoria.com.br
 * - DESERTO Digital - www.desertodigital.com.br
 *
 * @Referencias
 *
 * Lista de padrões, convenções e boas praticas CSS que devem ser seguidas.
 * https: //github.com/necolas/idiomatic-css/tree/master/translations/pt-BR
 *
 * Plugins para ordenar os atributos de CSS.
 * http://csscomb.com/
 *
 * Validador de CSS do W3C.
 * http://jigsaw.w3.org/css-validator/
 */

/* ==========================================================================
   Cabeçalho do portal
   ========================================================================== */

#header {
    padding: 14px 0 0 0;
    background-color: #19882c;
    /* Old browsers */
    background-color: #0A5517;
    background-image: -moz-radial-gradient(center, ellipse cover, #19882c 1%, #025310 100%);
    /* FF3.6+ */
    background-image: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(1%,#19882c), color-stop(100%, #025310));
    /* Chrome,Safari4+ */
    background-image: -webkit-radial-gradient(center, ellipse cover, #19882c 1%, #025310 100%);
    /* Chrome10+,Safari5.1+ */
    background-image: -o-radial-gradient(center, ellipse cover, #19882c 1%, #025310 100%);
    /* Opera 12+ */
    background-image: -ms-radial-gradient(center, ellipse cover, #19882c 1%, #025310 100%);
    /* IE10+ */
    background-image: radial-gradient(ellipse at center, #19882c 1%, #025310 100%);
    color: #fff;
    /* IE6-9 fallback on horizontal gradient */
    filter:progid: DXImageTransform.Microsoft.gradient( startColorstr="#19882c", endColorstr="#025310",GradientType=1);
}

/* Menu de Acessibilidade
   ========================================================================== */

#accessibility a {
    color: #dcffe3;
}

#accessibility span {
    background: url("../img/bg-acess-key.gif") center center no-repeat;
    color: #006600;
}

/* Menu sobre o portal
   ========================================================================== */

#sobre { background: #00420c; }

#sobre a { color: #fff; }

#sobre .portalservicos-item a { border-right: 1px solid #6c9072; }


/* ==========================================================================
   Portles
   ========================================================================== */

/* Portlet de navegação
   ========================================================================== */

.portlet-static-centrais-de-conteudos .portletHeader,
.portletNavigationTree .portletHeader {
    border-top: 4px solid #00510f;
    color: #00510f;
}

.portletNavigationTree .portletHeader a { color: #00510f !important; }


/* ==========================================================================
   Collective Cover
   ========================================================================== */

/* Tiles
   ========================================================================== */

.tile a { color: #162937 !important; }


/* ==========================================================================
   Footer
   ========================================================================== */

/* Doormat
   ========================================================================== */

#doormat-container { background: #034811; }

#doormat-container dl { border-left: 1px dotted #7dc48a; }

#doormat-container dt { color: #7dc48a; }
